In [1]:
import pandas as pd 
import ast
import json
from pandas import json_normalize

.
## ==================================================
# Boliga_propertySales_unitInfo.csv
## ==================================================
.

## ----- read in the file :

In [2]:
path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\4_unitInfo\Boliga_propertySales_unitInfo.csv'
data_unitInfo = pd.read_csv(path, encoding='utf-8',low_memory=False)
data_unitInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 17 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_unitInfo                 1031507 non-null  object
dtypes: bool(2), int64(5), object(10)
memory usage: 120.0+ MB

In [ ]:
data_unitInfo['RAW_dictionary_unitInfo']

### --------- Convert "RAW_dictionary_bbrInfoBox" column to dictionary object

In [3]:
def decode_json(x):
    try:
        if isinstance(x, str) and x.strip() != "" and not pd.isna(x):
            return ast.literal_eval(x)
            # Alternatively, you can use json.loads as follows:
            # return json.loads(x.replace("'", '"'))
        else:
            return x
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_unitInfo['RAW_dictionary_unitInfo'] = data_unitInfo['RAW_dictionary_unitInfo'].apply(decode_json)

## --- Count number of items in the dictionary - to make sure they are all balance

In [4]:
def count_objects(x):
    if isinstance(x,dict) and x!='':
        return countlist.append(len(x))

countlist = []

# Apply the decoding function to the specified column
data_unitInfo['RAW_dictionary_unitInfo'].apply(count_objects)

set(countlist)

{23}

# ------ NORMALIZE THE COLUMN

In [4]:
# normalize the column 
normalized_data = json_normalize(data_unitInfo['RAW_dictionary_unitInfo'])

# concatenate the normalized data and the original dataset
data_unitInfo = pd.concat([data_unitInfo, normalized_data], axis=1)

data_unitInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 40 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_unitInfo                 1031507 non-null  object
 17  appliance                               1031507 non-null  object
 18  propertyUnitType                        1031507 non-null  object
 19  propertyCondemned                       1031507 non-null  object
 20  areaUnit                                1031507 non-null  int64
 21  areaLiving                              1031507 non-null  int64
 22  areaBusiness                            1031507 non-null  int64
 23  areaOther                               1031507 non-null  int64
 24  areaSocial                              1031507 non-null  int64
 25  areaOpenCovered                         1031507 non-null  int64
 26  roomsQuantity                           1031507 non-null  int64
 27  areaClosedCovered                       1031507 non-null  int64
 28  roomsBusinessQuantity                   1031507 non-null  int64
 29  toiletCode                              1031507 non-null  object
 30  toiletQuantity                          1031507 non-null  int64
 31  bathroomCode                            1031507 non-null  object
 32  bathroomQuantity                        1031507 non-null  int64
 33  kitchenCode                             1031507 non-null  object
 34  energyCode                              1031507 non-null  object
 35  heatingInstallationCode                 1031507 non-null  object
 36  heatingCode                             1031507 non-null  object
 37  heatingSecondaryCode                    1031507 non-null  object
 38  usageCode                               1031507 non-null  object
 39  notes                                   1031507 non-null  object
dtypes: bool(2), int64(16), object(22)
memory usage: 301.0+ MB

In [59]:
data_unitInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 40 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_unitInfo                 1031507 non-null  object
 17  appliance                               1031507 non-null  object
 18  propertyUnitType                        1031507 non-null  object
 19  propertyCondemned                       1031507 non-null  object
 20  areaUnit                                1031507 non-null  int64
 21  areaLiving                              1031507 non-null  int64
 22  areaBusiness                            1031507 non-null  int64
 23  areaOther                               1031507 non-null  int64
 24  areaSocial                              1031507 non-null  int64
 25  areaOpenCovered                         1031507 non-null  int64
 26  roomsQuantity                           1031507 non-null  int64
 27  areaClosedCovered                       1031507 non-null  int64
 28  roomsBusinessQuantity                   1031507 non-null  int64
 29  toiletCode                              1031507 non-null  object
 30  toiletQuantity                          1031507 non-null  int64
 31  bathroomCode                            1031507 non-null  object
 32  bathroomQuantity                        1031507 non-null  int64
 33  kitchenCode                             1031507 non-null  object
 34  energyCode                              1031507 non-null  object
 35  heatingInstallationCode                 1031507 non-null  object
 36  heatingCode                             1031507 non-null  object
 37  heatingSecondaryCode                    1031507 non-null  object
 38  usageCode                               1031507 non-null  object
 39  notes                                   1031507 non-null  object
dtypes: bool(2), int64(16), object(22)
memory usage: 301.0+ MB

## ------------- CHECK VARIABLEs draft place

In [7]:
data_unitInfo[(data_unitInfo['areaLiving']>0) & (data_unitInfo['areaBusiness']>0)].iloc[:,20:29]

,areaUnit,areaLiving,areaBusiness,areaOther,areaSocial,areaOpenCovered,roomsQuantity,areaClosedCovered,roomsBusinessQuantity
21,258,222,36,0,0,0,7,0,0
71,1043,1003,40,0,0,0,13,0,1
166,230,219,11,0,0,0,5,0,1
206,213,163,50,0,0,0,6,0,2
211,218,148,70,0,0,0,6,0,2
...,...,...,...,...,...,...,...,...,...
1030871,313,293,20,0,0,0,7,0,1
1030954,108,55,53,0,0,0,5,0,3
1031146,225,190,35,0,0,0,9,0,2
1031343,271,259,12,0,0,0,7,0,1
1031444,178,150,28,0,0,0,4,0,1

In [63]:
data_unitInfo[(data_unitInfo['areaLiving']>0) & (data_unitInfo['areaClosedCovered']>0)].iloc[:,20:29]

,areaUnit,areaLiving,areaBusiness,areaOther,areaSocial,areaOpenCovered,roomsQuantity,areaClosedCovered,roomsBusinessQuantity
80,101,101,0,0,0,0,4,5,0
225,116,116,0,0,0,0,4,8,0
300,111,111,0,0,5,0,4,11,0
346,57,57,0,0,6,0,2,6,0
403,43,43,0,0,0,0,1,12,0
...,...,...,...,...,...,...,...,...,...
1030629,187,187,0,0,0,0,5,13,0
1030681,147,147,0,0,0,0,6,16,0
1030781,145,145,0,0,0,0,4,11,0
1031394,84,84,0,0,4,0,4,5,0
1031470,132,132,0,0,0,0,6,8,0

In [62]:
data_unitInfo['areaClosedCovered'].value_counts()

areaClosedCovered
0     1027844
9         568
5         334
6         321
12        242
       ...
61          1
73          1
48          1
60          1
91          1
Name: count, Length: 65, dtype: int64

In [ ]:
data_unitInfo[(data_unitInfo['areaClosedCovered']>0)]['RowID_MAIN_boliga_ROW_ID_unitID']

In [49]:
data_unitInfo['propertyCondemned'].value_counts()

propertyCondemned
Ikke kondemneret boligenhed    1031081
Kondemneret boligenhed             426
Name: count, dtype: int64

In [ ]:
data_unitInfo[data_unitInfo['roomsBusinessQuantity']>0]['RowID_MAIN_boliga_ROW_ID_unitID']

In [13]:
thelist = []
for row in data_unitInfo['notes']:
    for item in row:
        thelist.append(item)

In [ ]:
thelist

In [22]:
filtered_data = data_unitInfo[data_unitInfo['notes'].apply(lambda x: 'pulterrum' in x)].iloc[:,20:29]
filtered_data

,areaUnit,areaLiving,areaBusiness,areaOther,areaSocial,areaOpenCovered,roomsQuantity,areaClosedCovered,roomsBusinessQuantity
563778,83,83,0,0,0,0,3,0,0

# -------- Change Column names for the NEW COLUMNS :

In [27]:
data_unitInfo['heatingCode'].value_counts()

heatingCode
-                    1021077
Elektricitet            7290
Naturgas                2163
Flydende brændsel        442
Fast brændsel            293
Andet                    134
Gasværksgas              101
Halm                       7
Name: count, dtype: int64

In [5]:
change_column_names = {
    'appliance':'unitInfo_appliance_usage',
    'propertyUnitType': 'unitInfo_propertyUnitType',
    'propertyCondemned': 'unitInfo_propertyCondemned',
    'areaUnit' :  'unitInfo_Total_areaUnit',
    'areaLiving' :  'unitInfo_areaLiving',
    'areaBusiness' :  'unitInfo_areaBusiness',
    'areaOther' :  'unitInfo_areaOther',
    'areaSocial' :  'unitInfo_areaSocial_unitSharedCommonArea',
    'areaOpenCovered' :  'unitInfo_areaOpenCovered',#### ---- DROP !
    'roomsQuantity' :  'unitInfo_roomsQuantity',
    'areaClosedCovered' :  'unitInfo_areaClosedCovered',
    'roomsBusinessQuantity' :  'unitInfo_roomsBusinessQuantity',
    'toiletCode' : 'unitInfo_toiletCode',
    'toiletQuantity'  : 'unitInfo_toiletQuantity',
    'bathroomCode' : 'unitInfo_bathroomCode',
    'bathroomQuantity'  : 'unitInfo_bathroomQuantity',
    'kitchenCode' : 'unitInfo_kitchenCode',
    'energyCode' : 'unitInfo_energyCode',
    'heatingInstallationCode' : 'unitInfo_heatingInstallationCode',
    'heatingCode' : 'unitInfo_heatingCode',
    'heatingSecondaryCode' : 'unitInfo_heatingSecondaryCode',
    'usageCode' : 'unitInfo_usageCode',
    'notes' : 'notes', #### ---- DROP !
    
}

data_unitInfo = data_unitInfo.rename(columns=change_column_names)
data_unitInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 40 columns):
 #   Column                                    Non-Null Count    Dtype
---  ------                                    --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID           1031507 non-null  object
 1   RowID_propertyCode_bfeCode                1031507 non-null  int64
 2   RowID_municipalityCode                    1031507 non-null  int64
 3   RowID_propertyCode_esrCode                1031507 non-null  int64
 4   Address_info_addressString                1031507 non-null  object
 5   Address_info_streetString                 1031507 non-null  object
 6   Address_info_houseNumber                  1031507 non-null  object
 7   Address_info_floorString                  270077 non-null   object
 8   Address_info_sideDoorNumber               215286 non-null   object
 9   Address_info_zipString_code_and_name      1031507 non-null  object
 10  Address_info_zipCode                      1031507 non-null  int64
 11  Feature_dummy_isApartment                 1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber    1031507 non-null  int64
 13  Feature_Floor_level_of_property           270077 non-null   object
 14  Feature_category_propertyTypeName         1031507 non-null  object
 15  Feature_dummy_property_is_on_sale         1031507 non-null  bool
 16  RAW_dictionary_unitInfo                   1031507 non-null  object
 17  unitInfo_appliance_usage                  1031507 non-null  object
 18  unitInfo_propertyUnitType                 1031507 non-null  object
 19  unitInfo_propertyCondemned                1031507 non-null  object
 20  unitInfo_Total_areaUnit                   1031507 non-null  int64
 21  unitInfo_areaLiving                       1031507 non-null  int64
 22  unitInfo_areaBusiness                     1031507 non-null  int64
 23  unitInfo_areaOther                        1031507 non-null  int64
 24  unitInfo_areaSocial_unitSharedCommonArea  1031507 non-null  int64
 25  unitInfo_areaOpenCovered                  1031507 non-null  int64
 26  unitInfo_roomsQuantity                    1031507 non-null  int64
 27  unitInfo_areaClosedCovered                1031507 non-null  int64
 28  unitInfo_roomsBusinessQuantity            1031507 non-null  int64
 29  unitInfo_toiletCode                       1031507 non-null  object
 30  unitInfo_toiletQuantity                   1031507 non-null  int64
 31  unitInfo_bathroomCode                     1031507 non-null  object
 32  unitInfo_bathroomQuantity                 1031507 non-null  int64
 33  unitInfo_kitchenCode                      1031507 non-null  object
 34  unitInfo_energyCode                       1031507 non-null  object
 35  unitInfo_heatingInstallationCode          1031507 non-null  object
 36  unitInfo_heatingCode                      1031507 non-null  object
 37  unitInfo_heatingSecondaryCode             1031507 non-null  object
 38  unitInfo_usageCode                        1031507 non-null  object
 39  notes                                     1031507 non-null  object
dtypes: bool(2), int64(16), object(22)
memory usage: 301.0+ MB

In [9]:
data_unitInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 41 columns):
 #   Column                                    Non-Null Count    Dtype
---  ------                                    --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID           1031507 non-null  object
 1   RowID_propertyCode_bfeCode                1031507 non-null  int64
 2   RowID_municipalityCode                    1031507 non-null  int64
 3   RowID_propertyCode_esrCode                1031507 non-null  int64
 4   Address_info_addressString                1031507 non-null  object
 5   Address_info_streetString                 1031507 non-null  object
 6   Address_info_houseNumber                  1031507 non-null  object
 7   Address_info_floorString                  270077 non-null   object
 8   Address_info_sideDoorNumber               215286 non-null   object
 9   Address_info_zipString_code_and_name      1031507 non-null  object
 10  Address_info_zipCode                      1031507 non-null  int64
 11  Feature_dummy_isApartment                 1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber    1031507 non-null  int64
 13  Feature_Floor_level_of_property           270077 non-null   object
 14  Feature_category_propertyTypeName         1031507 non-null  object
 15  Feature_dummy_property_is_on_sale         1031507 non-null  bool
 16  RAW_dictionary_unitInfo                   1031507 non-null  object
 17  unitInfo_appliance_usage                  1031507 non-null  object
 18  unitInfo_propertyUnitType                 1031507 non-null  object
 19  unitInfo_propertyCondemned                1031507 non-null  object
 20  unitInfo_Total_areaUnit                   1031507 non-null  int64
 21  unitInfo_areaLiving                       1031507 non-null  int64
 22  unitInfo_areaBusiness                     1031507 non-null  int64
 23  unitInfo_areaOther                        1031507 non-null  int64
 24  unitInfo_areaSocial_unitSharedCommonArea  1031507 non-null  int64
 25  unitInfo_areaOpenCovered                  1031507 non-null  int64
 26  unitInfo_roomsQuantity                    1031507 non-null  int64
 27  unitInfo_areaClosedCovered                1031507 non-null  int64
 28  unitInfo_roomsBusinessQuantity            1031507 non-null  int64
 29  unitInfo_toiletCode                       1031507 non-null  object
 30  unitInfo_toiletQuantity                   1031507 non-null  int64
 31  unitInfo_bathroomCode                     1031507 non-null  object
 32  unitInfo_bathroomQuantity                 1031507 non-null  int64
 33  unitInfo_kitchenCode                      1031507 non-null  object
 34  unitInfo_energyCode                       1031507 non-null  object
 35  unitInfo_heatingInstallationCode          1031507 non-null  object
 36  unitInfo_heatingCode                      1031507 non-null  object
 37  unitInfo_heatingSecondaryCode             1031507 non-null  object
 38  unitInfo_usageCode                        1031507 non-null  object
 39  notes                                     1031507 non-null  object
 40  unitinfo_swimmingPool_dummy_variable      1031507 non-null  int64
dtypes: bool(2), int64(17), object(22)
memory usage: 308.9+ MB

#### ------- create variable: swimming pool Dummy

In [6]:
data_unitInfo['unitinfo_swimmingPool_dummy_variable'] = 0

In [7]:
def swimming_dummy(x):
    swimming = False
    try:
        if isinstance(x, list):
            for list_item in x:
                list_string = list_item.lower()

                if 'swimmingpool' in list_string or 'svømmepool' in list_string:
                    swimming = True
                    break
                
            if swimming:
                return 1
            else:
                return 0

        else:
            return 0
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_unitInfo['unitinfo_swimmingPool_dummy_variable'] = data_unitInfo['notes'].apply(swimming_dummy)

In [8]:
data_unitInfo['unitinfo_swimmingPool_dummy_variable'].value_counts()

unitinfo_swimmingPool_dummy_variable
0    1031488
1         19
Name: count, dtype: int64

#### ------- create variable: greenhouse Dummy

In [10]:
data_unitInfo['unitinfo_greehouse_dummy_variable'] = 0

In [11]:
def swimming_dummy(x):
    swimming = False
    try:
        if isinstance(x, list):
            for list_item in x:
                list_string = list_item.lower()

                if 'drivhus' in list_string:
                    swimming = True
                    break
                
            if swimming:
                return 1
            else:
                return 0

        else:
            return 0
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_unitInfo['unitinfo_greehouse_dummy_variable'] = data_unitInfo['notes'].apply(swimming_dummy)

In [12]:
data_unitInfo['unitinfo_greehouse_dummy_variable'].value_counts()

unitinfo_greehouse_dummy_variable
0    1031447
1         60
Name: count, dtype: int64

## --- drop useless features:

In [ ]:
drop_columns = [
    'unitInfo_areaOpenCovered',
    '',
]

data_unitInfo.drop(columns=drop_columns, inplace=True)

In [17]:
data_unitInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 42 columns):
 #   Column                                    Non-Null Count    Dtype
---  ------                                    --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID           1031507 non-null  object
 1   RowID_propertyCode_bfeCode                1031507 non-null  int64
 2   RowID_municipalityCode                    1031507 non-null  int64
 3   RowID_propertyCode_esrCode                1031507 non-null  int64
 4   Address_info_addressString                1031507 non-null  object
 5   Address_info_streetString                 1031507 non-null  object
 6   Address_info_houseNumber                  1031507 non-null  object
 7   Address_info_floorString                  270077 non-null   object
 8   Address_info_sideDoorNumber               215286 non-null   object
 9   Address_info_zipString_code_and_name      1031507 non-null  object
 10  Address_info_zipCode                      1031507 non-null  int64
 11  Feature_dummy_isApartment                 1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber    1031507 non-null  int64
 13  Feature_Floor_level_of_property           270077 non-null   object
 14  Feature_category_propertyTypeName         1031507 non-null  object
 15  Feature_dummy_property_is_on_sale         1031507 non-null  bool
 16  RAW_dictionary_unitInfo                   1031507 non-null  object
 17  unitInfo_appliance_usage                  1031507 non-null  object
 18  unitInfo_propertyUnitType                 1031507 non-null  object
 19  unitInfo_propertyCondemned                1031507 non-null  object
 20  unitInfo_Total_areaUnit                   1031507 non-null  int64
 21  unitInfo_areaLiving                       1031507 non-null  int64
 22  unitInfo_areaBusiness                     1031507 non-null  int64
 23  unitInfo_areaOther                        1031507 non-null  int64
 24  unitInfo_areaSocial_unitSharedCommonArea  1031507 non-null  int64
 25  unitInfo_areaOpenCovered                  1031507 non-null  int64
 26  unitInfo_roomsQuantity                    1031507 non-null  int64
 27  unitInfo_areaClosedCovered                1031507 non-null  int64
 28  unitInfo_roomsBusinessQuantity            1031507 non-null  int64
 29  unitInfo_toiletCode                       1031507 non-null  object
 30  unitInfo_toiletQuantity                   1031507 non-null  int64
 31  unitInfo_bathroomCode                     1031507 non-null  object
 32  unitInfo_bathroomQuantity                 1031507 non-null  int64
 33  unitInfo_kitchenCode                      1031507 non-null  object
 34  unitInfo_energyCode                       1031507 non-null  object
 35  unitInfo_heatingInstallationCode          1031507 non-null  object
 36  unitInfo_heatingCode                      1031507 non-null  object
 37  unitInfo_heatingSecondaryCode             1031507 non-null  object
 38  unitInfo_usageCode                        1031507 non-null  object
 39  notes                                     1031507 non-null  object
 40  swimmingPool_dummy_variable               1031507 non-null  int64
 41  greehouse_dummy_variable                  1031507 non-null  int64
dtypes: bool(2), int64(18), object(22)
memory usage: 316.8+ MB

## ------ Save the result

In [13]:
sub_columns = [
    'RowID_MAIN_boliga_ROW_ID_unitID',
    'unitInfo_appliance_usage',
    'unitInfo_propertyUnitType',
    'unitInfo_propertyCondemned',
    'unitInfo_Total_areaUnit', 
    'unitInfo_areaLiving', 
    'unitInfo_areaBusiness', 
    'unitInfo_areaOther', 
    'unitInfo_areaSocial_unitSharedCommonArea', 
    'unitInfo_roomsQuantity', 
    'unitInfo_areaClosedCovered', 
    'unitInfo_roomsBusinessQuantity', 
    'unitInfo_toiletCode',
    'unitInfo_toiletQuantity', 
    'unitInfo_bathroomCode',
    'unitInfo_bathroomQuantity', 
    'unitInfo_kitchenCode',
    'unitInfo_energyCode',
    'unitInfo_heatingInstallationCode',
    'unitInfo_heatingCode',
    'unitInfo_heatingSecondaryCode',
    'unitInfo_usageCode',
    'unitinfo_swimmingPool_dummy_variable',
    'unitinfo_greehouse_dummy_variable'

]

path=r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\4_unitInfo\Ready\Boliga_propertySales_unitInfo_READY.csv'

data_unitInfo[sub_columns].to_csv(path, encoding='utf-8', index=False)