In [2]:
import pandas as pd 
import ast
import json
from pandas import json_normalize

.
## ==================================================
# Boliga_propertySales_previousEstate.csv
## ==================================================
.

## ----- read in the file :

In [3]:
path_sales = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\14_PreviousEstate\Boliga_propertySales_previousEstate.csv'
data_previousEstate = pd.read_csv(path_sales, encoding = 'utf-8', low_memory=False) #,nrows=1000)
data_previousEstate.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 17 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_previousEstates          1031507 non-null  object
dtypes: bool(2), int64(5), object(10)
memory usage: 120.0+ MB

In [5]:
data_previousEstate['RAW_dictionary_previousEstates'][0]

"[{'estateId': 1931979, 'estateAddress': 'Rønnevangen 1', 'daysForSale': 52, 'salesPrice': 3248000, 'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg', 'lastSeen': '8. nov. 2022', 'zipCode': 8471, 'city': 'Sabro'}, {'estateId': 1857402, 'estateAddress': 'Rønnevangen 1', 'daysForSale': 242, 'salesPrice': 3348000, 'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg', 'lastSeen': '14. sep. 2022', 'zipCode': 8471, 'city': 'Sabro'}, {'estateId': 1352628, 'estateAddress': 'Rønnevangen 1', 'daysForSale': 26, 'salesPrice': 2975000, 'imageUrl': 'https://i.boliga.org/dk/550x/1352/1352628.jpg', 'lastSeen': '31. aug. 2017', 'zipCode': 8471, 'city': 'Sabro'}]"

### --------- Convert "RAW_dictionary_previousEstates" column to dictionary object

In [6]:
def decode_json(x):
    try:
        if isinstance(x, str) and x.strip() != "" and not pd.isna(x):
            return ast.literal_eval(x)
            # Alternatively, you can use json.loads as follows:
            # return json.loads(x.replace("'", '"'))
        else:
            return x
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_previousEstate['RAW_dictionary_previousEstates'] = data_previousEstate['RAW_dictionary_previousEstates'].apply(decode_json)

In [7]:
data_previousEstate['RAW_dictionary_previousEstates'][0]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '8. nov. 2022',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '14. sep. 2022',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1352628,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 26,
  'salesPrice': 2975000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1352/1352628.jpg',
  'lastSeen': '31. aug. 2017',
  'zipCode': 8471,
  'city': 'Sabro'}]

### ------ Explode: RAW_dictionary_previousEstates column

In [8]:
data_previousEstate = data_previousEstate.explode('RAW_dictionary_previousEstates').reset_index(drop=True)

In [9]:
len(data_previousEstate)

1550698

### ------------ Normalize column RAW_dictionary_previousEstates

In [10]:
data_previousEstate = data_previousEstate.join(json_normalize(data_previousEstate.pop('RAW_dictionary_previousEstates')))
data_previousEstate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1550698 entries, 0 to 1550697
Data columns (total 24 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1550698 non-null  object
 1   RowID_propertyCode_bfeCode              1550698 non-null  int64
 2   RowID_municipalityCode                  1550698 non-null  int64
 3   RowID_propertyCode_esrCode              1550698 non-null  int64
 4   Address_info_addressString              1550698 non-null  object
 5   Address_info_streetString               1550698 non-null  object
 6   Address_info_houseNumber                1550698 non-null  object
 7   Address_info_floorString                408972 non-null   object
 8   Address_info_sideDoorNumber             331531 non-null   object
 9   Address_info_zipString_code_and_name    1550698 non-null  object
 10  Address_info_zipCode                    1550698 non-null  int64
 11  Feature_dummy_isApartment               1550698 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1550698 non-null  int64
 13  Feature_Floor_level_of_property         408972 non-null   object
 14  Feature_category_propertyTypeName       1550698 non-null  object
 15  Feature_dummy_property_is_on_sale       1550698 non-null  bool
 16  estateId                                1170327 non-null  float64
 17  estateAddress                           1170327 non-null  object
 18  daysForSale                             1170327 non-null  float64
 19  salesPrice                              1170327 non-null  float64
 20  imageUrl                                592808 non-null   object
 21  lastSeen                                1170327 non-null  object
 22  zipCode                                 1170327 non-null  float64
 23  city                                    1170327 non-null  object
dtypes: bool(2), float64(4), int64(5), object(13)
memory usage: 263.2+ MB

In [11]:
import numpy as np 

np.mean(data_previousEstate['daysForSale'])

189.81197904517285

In [13]:
np.max(data_previousEstate['daysForSale'])

5416.0

In [14]:
data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'][0]

'9133416f-191b-496e-88bb-62b3a46a370a'

In [15]:
data_previousEstate[data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']

,RowID_MAIN_boliga_ROW_ID_unitID,RowID_propertyCode_bfeCode,RowID_municipalityCode,RowID_propertyCode_esrCode,Address_info_addressString,Address_info_streetString,Address_info_houseNumber,Address_info_floorString,Address_info_sideDoorNumber,Address_info_zipString_code_and_name,...,Feature_category_propertyTypeName,Feature_dummy_property_is_on_sale,estateId,estateAddress,daysForSale,salesPrice,imageUrl,lastSeen,zipCode,city
0,9133416f-191b-496e-88bb-62b3a46a370a,10085484,751,981498,Rønnevangen 1,Rønnevangen,1,NaN,NaN,8471 Sabro,...,Rækkehus,False,1931979.0,Rønnevangen 1,52.0,3248000.0,https://i.boliga.org/dk/550x/1931/1931979.jpg,8. nov. 2022,8471.0,Sabro
1,9133416f-191b-496e-88bb-62b3a46a370a,10085484,751,981498,Rønnevangen 1,Rønnevangen,1,NaN,NaN,8471 Sabro,...,Rækkehus,False,1857402.0,Rønnevangen 1,242.0,3348000.0,https://i.boliga.org/dk/550x/1857/1857402.jpg,14. sep. 2022,8471.0,Sabro
2,9133416f-191b-496e-88bb-62b3a46a370a,10085484,751,981498,Rønnevangen 1,Rønnevangen,1,NaN,NaN,8471 Sabro,...,Rækkehus,False,1352628.0,Rønnevangen 1,26.0,2975000.0,https://i.boliga.org/dk/550x/1352/1352628.jpg,31. aug. 2017,8471.0,Sabro

### ---- DROP ROWS that do not have previous estate

In [18]:
data_previousEstate = data_previousEstate[~data_previousEstate['estateId'].isna()]
data_previousEstate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1170327 entries, 0 to 1550683
Data columns (total 24 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1170327 non-null  object
 1   RowID_propertyCode_bfeCode              1170327 non-null  int64
 2   RowID_municipalityCode                  1170327 non-null  int64
 3   RowID_propertyCode_esrCode              1170327 non-null  int64
 4   Address_info_addressString              1170327 non-null  object
 5   Address_info_streetString               1170327 non-null  object
 6   Address_info_houseNumber                1170327 non-null  object
 7   Address_info_floorString                266913 non-null   object
 8   Address_info_sideDoorNumber             225742 non-null   object
 9   Address_info_zipString_code_and_name    1170327 non-null  object
 10  Address_info_zipCode                    1170327 non-null  int64
 11  Feature_dummy_isApartment               1170327 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1170327 non-null  int64
 13  Feature_Floor_level_of_property         266913 non-null   object
 14  Feature_category_propertyTypeName       1170327 non-null  object
 15  Feature_dummy_property_is_on_sale       1170327 non-null  bool
 16  estateId                                1170327 non-null  float64
 17  estateAddress                           1170327 non-null  object
 18  daysForSale                             1170327 non-null  float64
 19  salesPrice                              1170327 non-null  float64
 20  imageUrl                                592808 non-null   object
 21  lastSeen                                1170327 non-null  object
 22  zipCode                                 1170327 non-null  float64
 23  city                                    1170327 non-null  object
dtypes: bool(2), float64(4), int64(5), object(13)
memory usage: 207.6+ MB

### --- Rename columns :

In [19]:
change_column_names = {
'estateId': 'PreviousEstate_estateId',
'estateAddress': 'PreviousEstate_estateAddress', 
'daysForSale': 'PreviousEstate_daysForSale',
'salesPrice': 'PreviousEstate_salesPrice',
'imageUrl': 'PreviousEstate_imageUrl', 
'lastSeen': 'PreviousEstate_lastSeen', 
'zipCode': 'PreviousEstate_zipCode',
'city': 'PreviousEstate_city',   
}

data_previousEstate = data_previousEstate.rename(columns=change_column_names)
data_previousEstate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1170327 entries, 0 to 1550683
Data columns (total 24 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1170327 non-null  object
 1   RowID_propertyCode_bfeCode              1170327 non-null  int64
 2   RowID_municipalityCode                  1170327 non-null  int64
 3   RowID_propertyCode_esrCode              1170327 non-null  int64
 4   Address_info_addressString              1170327 non-null  object
 5   Address_info_streetString               1170327 non-null  object
 6   Address_info_houseNumber                1170327 non-null  object
 7   Address_info_floorString                266913 non-null   object
 8   Address_info_sideDoorNumber             225742 non-null   object
 9   Address_info_zipString_code_and_name    1170327 non-null  object
 10  Address_info_zipCode                    1170327 non-null  int64
 11  Feature_dummy_isApartment               1170327 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1170327 non-null  int64
 13  Feature_Floor_level_of_property         266913 non-null   object
 14  Feature_category_propertyTypeName       1170327 non-null  object
 15  Feature_dummy_property_is_on_sale       1170327 non-null  bool
 16  PreviousEstate_estateId                 1170327 non-null  float64
 17  PreviousEstate_estateAddress            1170327 non-null  object
 18  PreviousEstate_daysForSale              1170327 non-null  float64
 19  PreviousEstate_salesPrice               1170327 non-null  float64
 20  PreviousEstate_imageUrl                 592808 non-null   object
 21  PreviousEstate_lastSeen                 1170327 non-null  object
 22  PreviousEstate_zipCode                  1170327 non-null  float64
 23  PreviousEstate_city                     1170327 non-null  object
dtypes: bool(2), float64(4), int64(5), object(13)
memory usage: 207.6+ MB

## --- Save result

In [20]:
sub_columns = [
    'RowID_MAIN_boliga_ROW_ID_unitID', 
   
    'PreviousEstate_estateId',
    'PreviousEstate_estateAddress', 
    'PreviousEstate_daysForSale',
    'PreviousEstate_salesPrice',
    'PreviousEstate_imageUrl', 
    'PreviousEstate_lastSeen', 
    'PreviousEstate_zipCode',
    'PreviousEstate_city'
]

path=r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\14_PreviousEstate\Ready\Boliga_propertySales_previousEstate_READY.csv'

data_previousEstate[sub_columns].to_csv(path, encoding='utf-8', index=False)

In [16]:
data_previousEstate[data_previousEstate['estateId'].isna()]

,RowID_MAIN_boliga_ROW_ID_unitID,RowID_propertyCode_bfeCode,RowID_municipalityCode,RowID_propertyCode_esrCode,Address_info_addressString,Address_info_streetString,Address_info_houseNumber,Address_info_floorString,Address_info_sideDoorNumber,Address_info_zipString_code_and_name,...,Feature_category_propertyTypeName,Feature_dummy_property_is_on_sale,estateId,estateAddress,daysForSale,salesPrice,imageUrl,lastSeen,zipCode,city
20,9ab48ffa-737c-4a39-8e3d-c806d3a75038,3375081,820,8125,Holmgårdsvej 20,Holmgårdsvej,20,NaN,NaN,9681 Ranum,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,62157701-a797-408c-b91e-4d27b55fad2e,8035598,746,20378,Smedekrogen 23,Smedekrogen,23,NaN,NaN,8660 Skanderborg,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,c255a32e-9551-4e86-b617-d82a8a74fdfe,4372162,630,6554,Vibevej 4,Vibevej,4,NaN,NaN,7300 Jelling,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,07a6f284-cb47-45d8-8b13-08f25ada123d,8989593,390,3984,Lohmannsvej 8A,Lohmannsvej,8A,NaN,NaN,4780 Stege,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,efd2bda9-8630-41ab-ad2c-614868178a9f,5432522,376,12031,Østergade 19,Østergade,19,NaN,NaN,4880 Nysted,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550693,bef171e1-3110-4be3-8553-f5e00197d95e,5238467,580,13570,Stenskær 11,Stenskær,11,NaN,NaN,6372 Bylderup-Bov,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1550694,ce1f5b0b-053a-4661-9cb2-632d1a182d5f,4058251,779,141287,Charlottevej 16,Charlottevej,16,NaN,NaN,7860 Spøttrup,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1550695,845ce2df-d0ca-45cf-b6ca-df6ca620a685,5505660,810,4809,Solvangsvej 31,Solvangsvej,31,NaN,NaN,9700 Brønderslev,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1550696,81ce9112-1089-4179-a38e-e89dd148faac,4334642,615,128600,Søndergårdsalle 7,Søndergårdsalle,7,NaN,NaN,8700 Horsens,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1550697,ac22bf6a-bb13-4092-be79-ad8951e0b5c3,2623035,461,451454,Østergårds Allé 50,Østergårds Allé,50,NaN,NaN,5250 Odense SV,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data_previousEstate[data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID']=='9ab48ffa-737c-4a39-8e3d-c806d3a75038']

,RowID_MAIN_boliga_ROW_ID_unitID,RowID_propertyCode_bfeCode,RowID_municipalityCode,RowID_propertyCode_esrCode,Address_info_addressString,Address_info_streetString,Address_info_houseNumber,Address_info_floorString,Address_info_sideDoorNumber,Address_info_zipString_code_and_name,...,Feature_category_propertyTypeName,Feature_dummy_property_is_on_sale,estateId,estateAddress,daysForSale,salesPrice,imageUrl,lastSeen,zipCode,city
20,9ab48ffa-737c-4a39-8e3d-c806d3a75038,3375081,820,8125,Holmgårdsvej 20,Holmgårdsvej,20,NaN,NaN,9681 Ranum,...,Villa,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# !!!!!! Data to big for RAM memory !!!!!!!

.

.

# PLAN: 

* Read in the file in chunks of 1000 rows per chunk (so 1038000/10000 = 104 chunks)
* ONLY READ the main ID columns and "RAW_dictionary_evaluationInfos" column
* for each chunk as a dataframe convert column "RAW_dictionary_evaluationInfos" into a dictionary object 
* then expand the column into rows i.e. 1 row = 1 dictionary
* then noramlize all dictionaries into columns
* Finally write result to csv file and move on to next chunk

In [ ]:
# Specify your file path
file_path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Boliga_propertySales_evalutationInfos_.csv'

result_path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Ready\Boliga_propertySales_evaluationInfo_Ready.csv'

# Define chunk size
chunk_size = 10000

# select only necessary columns :
fields = ['RowID_MAIN_boliga_ROW_ID_unitID', 'RAW_dictionary_evaluationInfos']

# Create an iterator for reading chunks
chunk_iter = pd.read_csv(file_path, chunksize=chunk_size, usecols=fields)

# Initialize a flag to track whether it's the first iteration for the HEADER OF THE RESULTING CSV FILE
first_iteration = True

# count the chunks 
chunk_counter = 0

# Iterate through each chunk
for i, chunk in enumerate(chunk_iter):
    chunk_counter+=1
    print(f'----------> chunk nr. {chunk_counter} out of 104 circa')
    
    # Convert 'RAW_dictionary_evaluationInfos' column to dictionary
    # chunk['RAW_dictionary_evaluationInfos'] = chunk['RAW_dictionary_evaluationInfos'].apply(ast.literal_eval)
    # chunk['RAW_dictionary_evaluationInfos'] = chunk['RAW_dictionary_evaluationInfos'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and x.strip() != '' else x)
    print('----> Convert to dictionary object')
    chunk['RAW_dictionary_evaluationInfos'] = chunk['RAW_dictionary_evaluationInfos'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x != '' and x !='[]' else x)

    # Explode the columns so that each item in the list gets its own row
    print('----> Explode column')
    chunk = chunk.explode('RAW_dictionary_evaluationInfos').reset_index(drop=True)

    # Normalize the column into columns and drop then drop the column with pop
    print('----> Normalize and join')
    chunk = chunk.join(json_normalize(chunk.pop('RAW_dictionary_evaluationInfos')))

    # ONLY TAKE VALUATIONS BETWEEN 2006 TO 2024
    chunk = chunk[(chunk['evaluationYear'] >= 2006) & (chunk['evaluationYear'] <= 2024)]


    # # Expand the dictionary column into rows
    # expanded_df = pd.json_normalize(exploded_df['RAW_dictionary_evaluationInfos'])
    
    # # Concatenate the expanded dataframe with the original dataframe
    # result_df = pd.concat([chunk, expanded_df], axis=1)
    
    # # Drop the original dictionary column
    # result_df = result_df.drop(columns=['RAW_dictionary_evaluationInfos'])
    
    # Write the result to the existing CSV file (mode='a' appends to the existing file)
    print('----> Write result to CSV')
    chunk.to_csv(result_path, mode='a', index=False, header=first_iteration)

    # Update the flag after the first iteration
    first_iteration = False

    # Release memory by resetting variables and deleting unnecessary objects
    # del exploded_df, expanded_df, result_df

In [4]:
1038900/10000

103.89

## Concurrent futures

# ----- Rename columns:

In [ ]:
change_column_names = {
    'isSalesValid':'salesInfo_isSalesValid', 
    'handoverCode':'salesInfo_handoverCode', 
    'handoverName':'salesInfo_handoverName', 
    'deedIssueDate':'salesInfo_deedIssueDate', 
    'price':'salesInfo_price',
    'recalculationDate':'salesInfo_recalculationDate', 
    'rebuildYear':'salesInfo_rebuildYear'    
}

data_salesInfo = data_salesInfo.rename(columns=change_column_names)
data_salesInfo.info()

## ------ Save the result

In [ ]:
sub_columns = [
    'RowID_MAIN_boliga_ROW_ID_unitID', 

    'salesInfo_isSalesValid',   
    'salesInfo_handoverCode', 
    'salesInfo_handoverName', 
    'salesInfo_deedIssueDate', 
    'salesInfo_price',
    'salesInfo_recalculationDate', 
    'salesInfo_rebuildYear'
]

path=r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\11_salesInfos\Ready\Boliga_propertySales_salesInfos_Ready.csv'

data_salesInfo[sub_columns].to_csv(path, encoding='utf-8', index=False)

In [ ]:
data_additionarBuildingInfo.info()