In [1]:
import pandas as pd 
import ast
import json
from pandas import json_normalize

.
## ==================================================
# Boliga_propertySales_ownerShipInfo.csv
## ==================================================
.

## ----- read in the file :

In [2]:
path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\5_ownerShipInfo\Boliga_propertySales_ownerShipInfo.csv'
data_ownershipInfo = pd.read_csv(path, encoding='utf-8',low_memory=False)
data_ownershipInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 17 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_ownerShipInfo            1031507 non-null  object
dtypes: bool(2), int64(5), object(10)
memory usage: 120.0+ MB

In [4]:
data_ownershipInfo['RAW_dictionary_ownerShipInfo']

0          {'recordedArea': 0, 'esrPropertyNumber': 98149...
1          {'recordedArea': 0, 'esrPropertyNumber': 13499...
2          {'recordedArea': 0, 'esrPropertyNumber': 4216,...
3          {'recordedArea': 64, 'esrPropertyNumber': 4961...
4          {'recordedArea': 0, 'esrPropertyNumber': 15312...
                                 ...
1031502    {'recordedArea': 0, 'esrPropertyNumber': 13570...
1031503    {'recordedArea': 0, 'esrPropertyNumber': 14128...
1031504    {'recordedArea': 0, 'esrPropertyNumber': 4809,...
1031505    {'recordedArea': 0, 'esrPropertyNumber': 12860...
1031506    {'recordedArea': 0, 'esrPropertyNumber': 45145...
Name: RAW_dictionary_ownerShipInfo, Length: 1031507, dtype: object

### --------- Convert "RAW_dictionary_bbrInfoBox" column to dictionary object

In [4]:
def decode_json(x):
    try:
        if isinstance(x, str) and x.strip() != "" and not pd.isna(x):
            return ast.literal_eval(x)
            # Alternatively, you can use json.loads as follows:
            # return json.loads(x.replace("'", '"'))
        else:
            return x
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_ownershipInfo['RAW_dictionary_ownerShipInfo'] = data_ownershipInfo['RAW_dictionary_ownerShipInfo'].apply(decode_json)

## --- Count number of items in the dictionary - to make sure they are all balance

In [8]:
def count_objects(x):
    if isinstance(x,dict) and x!='':
        return countlist.append(len(x))

countlist = []

# Apply the decoding function to the specified column
data_ownershipInfo['RAW_dictionary_ownerShipInfo'].apply(count_objects)

set(countlist)

{8}

# ------ NORMALIZE THE COLUMN

In [5]:
# normalize the column 
normalized_data = json_normalize(data_ownershipInfo['RAW_dictionary_ownerShipInfo'])

# concatenate the normalized data and the original dataset
data_ownershipInfo = pd.concat([data_ownershipInfo, normalized_data], axis=1)

data_ownershipInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 25 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_ownerShipInfo            1031507 non-null  object
 17  recordedArea                            1031507 non-null  int64
 18  esrPropertyNumber                       1031507 non-null  int64
 19  municipalityCode                        1031507 non-null  int64
 20  appertmentNumber                        1031507 non-null  object
 21  multipleAppartmentNumber                1031507 non-null  object
 22  esrArticleCode                          1031507 non-null  object
 23  ownerShipCode                           1031507 non-null  object
 24  notes                                   1031507 non-null  object
dtypes: bool(2), int64(8), object(15)
memory usage: 183.0+ MB

In [ ]:
data_unitInfo.info()

## ------------- CHECK VARIABLEs draft place

In [17]:
data_ownershipInfo['ownerShipCode'].value_counts()

ownerShipCode
Privatpersoner eller interessentskab                                                                                                     862969
Aktie-, anpart- eller andet selskab (undtagen interessentÂ­skab)                                                                          164381
Forening, legat eller selvejende institution                                                                                               1370
Den kommune, hvori ejendommen er beliggende                                                                                                 965
0                                                                                                                                           849
Andet, herunder moderejendomme for bebyggelser, der er opdelt i ejerlejligheder samt ejendomme, der ejes af flere kategorier af ejere       316
99                                                                                                                                          285
Staten                                                                                                                                      250
Alment boligselskab                                                                                                                         105
Region                                                                                                                                       17
Name: count, dtype: int64

In [19]:
thelist = []
for row in data_ownershipInfo['notes']:
    for item in row:
        thelist.append(item)

In [44]:
swimmingpool_count=0
for string_item in thelist:
    string = string_item.lower()
    if 'swimmingpool' in string or 'svÃ¸mmepool' in string:
        swimmingpool_count+=1
swimmingpool_count

403

In [49]:
swimmingpool_count=0
for string_item in thelist:
    string = string_item.lower()
    if 'hot tub' in string:
        swimmingpool_count+=1
swimmingpool_count

0

In [ ]:
filtered_data = data_unitInfo[data_unitInfo['notes'].apply(lambda x: 'pulterrum' in x)].iloc[:,17:29]
filtered_data

In [57]:
data_ownershipInfo.iloc[:,17:29]

,recordedArea,esrPropertyNumber,municipalityCode,appertmentNumber,multipleAppartmentNumber,esrArticleCode,ownerShipCode,notes,swimmingPool_dummy_variable
0,0,981498,751,,-,0,Privatpersoner eller interessentskab,[],0
1,0,134998,265,,-,0,Privatpersoner eller interessentskab,[],0
2,0,4216,376,,-,0,Privatpersoner eller interessentskab,[],0
3,64,496120,101,83,-,2,Privatpersoner eller interessentskab,[],0
4,0,153129,219,,-,0,Privatpersoner eller interessentskab,[SKÃVINGE VANDVÃRK],0
...,...,...,...,...,...,...,...,...,...
1031502,0,13570,580,,-,0,Privatpersoner eller interessentskab,[],0
1031503,0,141287,779,,-,0,Privatpersoner eller interessentskab,[],0
1031504,0,4809,810,,-,0,Privatpersoner eller interessentskab,[],0
1031505,0,128600,615,,-,0,"Aktie-, anpart- eller andet selskab (undtagen ...",[],0
1031506,0,451454,461,,-,0,Privatpersoner eller interessentskab,[],0

# ---- Create swimming pool dummy variable based on values in Notes column

In [6]:
data_ownershipInfo['ownerShipInfo_swimmingPool_dummy'] = 0

In [8]:
swimming_keyWord = ['swimmingpool','svÃ¸mmepool','svÃ¸mmebassin']
def swimming_dummy(x):
    swimming = False
    try:
        if isinstance(x, list):
            for list_item in x:
                list_string = list_item.lower()

                if any(keyword in list_string for keyword in swimming_keyWord):
                    swimming = True
                    break
                
            if swimming:
                return 1
            else:
                return 0

        else:
            return 0
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_ownershipInfo['ownerShipInfo_swimmingPool_dummy'] = data_ownershipInfo['notes'].apply(swimming_dummy)

In [9]:
data_ownershipInfo['ownerShipInfo_swimmingPool_dummy'].value_counts()

ownerShipInfo_swimmingPool_dummy
0    1030855
1        652
Name: count, dtype: int64

#### ------- create variable: greenhouse Dummy

In [10]:
data_ownershipInfo['ownershipInfo_greehouse_dummy_variable'] = 0

In [11]:
def greenhouse_dummy(x):
    swimming = False
    try:
        if isinstance(x, list):
            for list_item in x:
                list_string = list_item.lower()

                if 'drivhus' in list_string:
                    swimming = True
                    break
                
            if swimming:
                return 1
            else:
                return 0

        else:
            return 0
    except (ValueError, SyntaxError) as e:
        print(f"Error decoding JSON: {e}")
        return None

# Apply the decoding function to the specified column
data_ownershipInfo['ownershipInfo_greehouse_dummy_variable'] = data_ownershipInfo['notes'].apply(greenhouse_dummy)

In [12]:
data_ownershipInfo['ownershipInfo_greehouse_dummy_variable'].value_counts()

ownershipInfo_greehouse_dummy_variable
0    1029217
1       2290
Name: count, dtype: int64

# -------- Change Column names for the NEW COLUMNS :

In [ ]:
data_unitInfo['heatingCode'].value_counts()

In [13]:
change_column_names = {
    'ownerShipCode' : 'ownerShipInfo_ownerShipCode',
    # 'swimmingPool_dummy_variable' : 'ownerShipInfo_swimmingPool_dummy_variable'
}

data_ownershipInfo = data_ownershipInfo.rename(columns=change_column_names)
data_ownershipInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 27 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         1031507 non-null  object
 1   RowID_propertyCode_bfeCode              1031507 non-null  int64
 2   RowID_municipalityCode                  1031507 non-null  int64
 3   RowID_propertyCode_esrCode              1031507 non-null  int64
 4   Address_info_addressString              1031507 non-null  object
 5   Address_info_streetString               1031507 non-null  object
 6   Address_info_houseNumber                1031507 non-null  object
 7   Address_info_floorString                270077 non-null   object
 8   Address_info_sideDoorNumber             215286 non-null   object
 9   Address_info_zipString_code_and_name    1031507 non-null  object
 10  Address_info_zipCode                    1031507 non-null  int64
 11  Feature_dummy_isApartment               1031507 non-null  bool
 12  Feature_categorical_propertyTypeNumber  1031507 non-null  int64
 13  Feature_Floor_level_of_property         270077 non-null   object
 14  Feature_category_propertyTypeName       1031507 non-null  object
 15  Feature_dummy_property_is_on_sale       1031507 non-null  bool
 16  RAW_dictionary_ownerShipInfo            1031507 non-null  object
 17  recordedArea                            1031507 non-null  int64
 18  esrPropertyNumber                       1031507 non-null  int64
 19  municipalityCode                        1031507 non-null  int64
 20  appertmentNumber                        1031507 non-null  object
 21  multipleAppartmentNumber                1031507 non-null  object
 22  esrArticleCode                          1031507 non-null  object
 23  ownerShipInfo_ownerShipCode             1031507 non-null  object
 24  notes                                   1031507 non-null  object
 25  ownerShipInfo_swimmingPool_dummy        1031507 non-null  int64
 26  ownershipInfo_greehouse_dummy_variable  1031507 non-null  int64
dtypes: bool(2), int64(10), object(15)
memory usage: 198.7+ MB

## ------ Save the result

In [14]:
sub_columns = [
    'RowID_MAIN_boliga_ROW_ID_unitID',
    'ownerShipInfo_ownerShipCode',
    'ownerShipInfo_swimmingPool_dummy',
    'ownershipInfo_greehouse_dummy_variable'
]

path=r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\5_ownerShipInfo\Ready\Boliga_propertySales_ownerShipInfo_READY.csv'

data_ownershipInfo[sub_columns].to_csv(path, encoding='utf-8', index=False)