In [2]:
import pandas as pd 
import json
import ast

# New plan (old plan below)

## --- Create NEW Estate csv file only with main id column and the strings of the dictionaries containing the sales 
## --- Then merge by main ID 
## --- Then convert dictionary column to dictionary object 
## --- next create the new columns 
## --- Finally run a loop over rows with estate object and add values to new columns

.

# 1) read in the NEW SALES data (Sales+evaluation)

In [3]:
path_sales = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_1_mergin_Sales_transactions_with_evaluation_data\Boliga_salesData_SalesTransactions_with_evaluation_2623340rows_20columns.csv'
data_salesdata = pd.read_csv(path_sales, encoding = 'utf-8', low_memory=False) #,nrows=1000)
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 20 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID   2623340 non-null  object
 1   salesInfo_isSalesValid            2623340 non-null  bool
 2   salesInfo_handoverCode            2623340 non-null  float64
 3   salesInfo_handoverName            2623340 non-null  object
 4   salesInfo_deedIssueDate           2623340 non-null  object
 5   salesInfo_price                   2623340 non-null  float64
 6   salesInfo_recalculationDate       2623340 non-null  object
 7   salesInfo_rebuildYear             2623340 non-null  float64
 8   unique_sales_ID                   2623340 non-null  int64
 9   salesInfo_year_of_sale            2623340 non-null  int64
 10  EvaluationInfo_evaluationYear     1364441 non-null  float64
 11  EvaluationInfo_lastChange         1364441 non-null  object
 12  EvaluationInfo_propertyValue      1364441 non-null  float64
 13  EvaluationInfo_landValue          1364441 non-null  float64
 14  EvaluationInfo_deductionSum       1364441 non-null  float64
 15  EvaluationInfo_usage              1364441 non-null  object
 16  EvaluationInfo_residentialUnits   1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea  1364441 non-null  float64
 18  EvaluationInfo_rebuildYear        1364441 non-null  float64
 19  EvaluationInfo_areaSize           1364441 non-null  float64
dtypes: bool(1), float64(11), int64(2), object(6)
memory usage: 382.8+ MB

# 2) Read IN THE plan B version of previousEstates data
that file contains only MAIN id AND ESTATE DICTIONARY

In [4]:
path_ESTATE = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\14_PreviousEstate\Ready\PLAN_B_Boliga_propertySales_previousEstate_READY.csv'
data_ESTATE = pd.read_csv(path_ESTATE, encoding = 'utf-8', low_memory=False) #,nrows=1000)
data_ESTATE.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031507 entries, 0 to 1031506
Data columns (total 2 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID  1031507 non-null  object
 1   RAW_dictionary_previousEstates   1031507 non-null  object
dtypes: object(2)
memory usage: 15.7+ MB

# 3) Merge dataframes

In [5]:
data_salesdata = pd.merge(data_salesdata, data_ESTATE, on='RowID_MAIN_boliga_ROW_ID_unitID', how='left')
data_salesdata.info()

del data_ESTATE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 21 columns):
 #   Column                            Dtype
---  ------                            -----
 0   RowID_MAIN_boliga_ROW_ID_unitID   object
 1   salesInfo_isSalesValid            bool
 2   salesInfo_handoverCode            float64
 3   salesInfo_handoverName            object
 4   salesInfo_deedIssueDate           object
 5   salesInfo_price                   float64
 6   salesInfo_recalculationDate       object
 7   salesInfo_rebuildYear             float64
 8   unique_sales_ID                   int64
 9   salesInfo_year_of_sale            int64
 10  EvaluationInfo_evaluationYear     float64
 11  EvaluationInfo_lastChange         object
 12  EvaluationInfo_propertyValue      float64
 13  EvaluationInfo_landValue          float64
 14  EvaluationInfo_deductionSum       float64
 15  EvaluationInfo_usage              object
 16  EvaluationInfo_residentialUnits   float64
 17  EvaluationInfo_propertyValueArea  float64
 18  EvaluationInfo_rebuildYear        float64
 19  EvaluationInfo_areaSize           float64
 20  RAW_dictionary_previousEstates    object
dtypes: bool(1), float64(11), int64(2), object(7)
memory usage: 402.8+ MB

In [6]:
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 21 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID   2623340 non-null  object
 1   salesInfo_isSalesValid            2623340 non-null  bool
 2   salesInfo_handoverCode            2623340 non-null  float64
 3   salesInfo_handoverName            2623340 non-null  object
 4   salesInfo_deedIssueDate           2623340 non-null  object
 5   salesInfo_price                   2623340 non-null  float64
 6   salesInfo_recalculationDate       2623340 non-null  object
 7   salesInfo_rebuildYear             2623340 non-null  float64
 8   unique_sales_ID                   2623340 non-null  int64
 9   salesInfo_year_of_sale            2623340 non-null  int64
 10  EvaluationInfo_evaluationYear     1364441 non-null  float64
 11  EvaluationInfo_lastChange         1364441 non-null  object
 12  EvaluationInfo_propertyValue      1364441 non-null  float64
 13  EvaluationInfo_landValue          1364441 non-null  float64
 14  EvaluationInfo_deductionSum       1364441 non-null  float64
 15  EvaluationInfo_usage              1364441 non-null  object
 16  EvaluationInfo_residentialUnits   1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea  1364441 non-null  float64
 18  EvaluationInfo_rebuildYear        1364441 non-null  float64
 19  EvaluationInfo_areaSize           1364441 non-null  float64
 20  RAW_dictionary_previousEstates    2623340 non-null  object
dtypes: bool(1), float64(11), int64(2), object(7)
memory usage: 402.8+ MB

In [ ]:
len(data_salesdata[data_salesdata['RAW_dictionary_previousEstates']!='[]'])

# 4) convert column RAW_dictionary_previousEstates to dictionary object

In [11]:
data_salesdata['RAW_dictionary_previousEstates'] = data_salesdata['RAW_dictionary_previousEstates'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x!='[]' and x!='' and x is not None else x)

In [14]:
data_salesdata['RAW_dictionary_previousEstates'][0]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '8. nov. 2022',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '14. sep. 2022',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1352628,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 26,
  'salesPrice': 2975000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1352/1352628.jpg',
  'lastSeen': '31. aug. 2017',
  'zipCode': 8471,
  'city': 'Sabro'}]

# 5) convert  salesInfo_deedIssueDate to date object ----------------------- wait with this after the other

In [7]:
pd.to_datetime(data_salesdata['salesInfo_deedIssueDate'], format="%Y-%m-%d").dt.year.value_counts()

salesInfo_deedIssueDate
1899    700815
2021    126417
2006    119706
2007    115858
2020    107467
2017    106966
2018    106140
2019    102195
2010     96812
2015     95374
2016     94765
2022     93602
2008     86676
2005     83941
2011     78689
2014     77941
2013     70983
2012     70848
2023     66320
2004     66171
2003     61625
2009     54393
1753     19862
2002     15987
1996       711
2001       708
2000       644
1997       583
1998       572
1999       567
1900         2
Name: count, dtype: int64

In [15]:
data_salesdata[pd.to_datetime(data_salesdata['salesInfo_deedIssueDate'], format="%Y-%m-%d").dt.year == 1899]['RowID_MAIN_boliga_ROW_ID_unitID']

7          0d3618c0-35a1-49bc-b2cb-9228ef5065f9
8          0d3618c0-35a1-49bc-b2cb-9228ef5065f9
14         e824b5cd-d1ae-4599-9b1d-7bff5cc52255
15         e824b5cd-d1ae-4599-9b1d-7bff5cc52255
20         d6d3cb16-c5db-4e10-af5d-ee0cc4b59f9c
                           ...
2623330    ce1f5b0b-053a-4661-9cb2-632d1a182d5f
2623331    ce1f5b0b-053a-4661-9cb2-632d1a182d5f
2623334    845ce2df-d0ca-45cf-b6ca-df6ca620a685
2623336    81ce9112-1089-4179-a38e-e89dd148faac
2623339    ac22bf6a-bb13-4092-be79-ad8951e0b5c3
Name: RowID_MAIN_boliga_ROW_ID_unitID, Length: 700815, dtype: object

In [22]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='d6d3cb16-c5db-4e10-af5d-ee0cc4b59f9c'][['salesInfo_recalculationDate','salesInfo_deedIssueDate','salesInfo_price']]

   salesInfo_recalculationDate salesInfo_deedIssueDate  salesInfo_price
19                  2021-05-18              2021-07-19        1950000.0
20                  1997-08-31              1899-12-30         620000.0
21                  1996-02-13              1899-12-30         430000.0
22                  1993-11-29              1899-12-30         440000.0
23                  2003-08-11              2003-09-23        1000000.0
24                  2009-11-24              2010-01-12        1300000.0
25                  2023-11-07              2023-11-07        1998000.0

# !!!!!! NOTE : AT FIRST i USED salesInfo_deedIssueDate BUT AS YOU CAN SEE ITS FUCKED 700815 OBS WIHT YEAR 1899 ALSO salesInfo_recalculationDate CAN CONTAIN DATES THAT ARE OLDER THEN AN AD THAT BELONGS TO IT....

# PLAN: 

#### Create column salesInfo_MAIN_date_of_Sale : which compares the dates in salesInfo_deedIssueDate and salesInfo_recalculationDate then takes the newer date

In [36]:
# Convert string columns to datetime objects
data_salesdata['salesInfo_recalculationDate'] = pd.to_datetime(data_salesdata['salesInfo_recalculationDate'])
data_salesdata['salesInfo_deedIssueDate'] = pd.to_datetime(data_salesdata['salesInfo_deedIssueDate'])

# Create a new column with the newer date for each row
data_salesdata['salesInfo_MAIN_date_of_Sale'] = data_salesdata[['salesInfo_recalculationDate','salesInfo_deedIssueDate']].max(axis=1)

# convert salesInfo_MAIN_date_of_Sale back to string object 
data_salesdata['salesInfo_MAIN_date_of_Sale'] = data_salesdata['salesInfo_MAIN_date_of_Sale'].dt.strftime('%Y-%m-%d')

In [38]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='d6d3cb16-c5db-4e10-af5d-ee0cc4b59f9c'][['salesInfo_recalculationDate','salesInfo_deedIssueDate','salesInfo_MAIN_date_of_Sale','salesInfo_price']]

,salesInfo_recalculationDate,salesInfo_deedIssueDate,salesInfo_MAIN_date_of_Sale,salesInfo_price
19,2021-05-18,2021-07-19,2021-07-19,1950000.0
20,1997-08-31,1899-12-30,1997-08-31,620000.0
21,1996-02-13,1899-12-30,1996-02-13,430000.0
22,1993-11-29,1899-12-30,1993-11-29,440000.0
23,2003-08-11,2003-09-23,2003-09-23,1000000.0
24,2009-11-24,2010-01-12,2010-01-12,1300000.0
25,2023-11-07,2023-11-07,2023-11-07,1998000.0

In [23]:
# data_salesdata['salesInfo_deedIssueDate'] = pd.to_datetime(data_salesdata['salesInfo_deedIssueDate'], format="%Y-%m-%d")#.dt.date
# type(data_salesdata['salesInfo_deedIssueDate'][0])

# 6) change key "lastSeen" values In Estate dictionaries such that I replace "maj" to "may" and "okt" to "oct"

In [39]:

data_salesdata['RAW_dictionary_previousEstates'] = data_salesdata['RAW_dictionary_previousEstates'].apply(
    lambda x: [{**entry, 'lastSeen': entry['lastSeen'].replace('okt', 'oct').replace('maj', 'may')} for entry in x] if isinstance(x, list) else x
)

In [40]:
data_salesdata['RAW_dictionary_previousEstates']

0          [{'estateId': 1931979, 'estateAddress': 'Rønne...
1          [{'estateId': 1931979, 'estateAddress': 'Rønne...
2          [{'estateId': 1931979, 'estateAddress': 'Rønne...
3          [{'estateId': 1931979, 'estateAddress': 'Rønne...
4          [{'estateId': 1988849, 'estateAddress': 'Ibsgå...
                                 ...
2623335                                                   []
2623336                                                   []
2623337                                                   []
2623338                                                   []
2623339                                                   []
Name: RAW_dictionary_previousEstates, Length: 2623340, dtype: object

In [41]:
data_salesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   RowID_MAIN_boliga_ROW_ID_unitID   object
 1   salesInfo_isSalesValid            bool
 2   salesInfo_handoverCode            float64
 3   salesInfo_handoverName            object
 4   salesInfo_deedIssueDate           datetime64[ns]
 5   salesInfo_price                   float64
 6   salesInfo_recalculationDate       datetime64[ns]
 7   salesInfo_rebuildYear             float64
 8   unique_sales_ID                   int64
 9   salesInfo_year_of_sale            int64
 10  EvaluationInfo_evaluationYear     float64
 11  EvaluationInfo_lastChange         object
 12  EvaluationInfo_propertyValue      float64
 13  EvaluationInfo_landValue          float64
 14  EvaluationInfo_deductionSum       float64
 15  EvaluationInfo_usage              object
 16  EvaluationInfo_residentialUnits   float64
 17  EvaluationInfo_propertyValueArea  float64
 18  EvaluationInfo_rebuildYear        float64
 19  EvaluationInfo_areaSize           float64
 20  RAW_dictionary_previousEstates    object
 21  salesInfo_MAIN_date_of_Sale       object
dtypes: bool(1), datetime64[ns](2), float64(11), int64(2), object(6)
memory usage: 422.8+ MB

# 7) Create New column called "Property_Older_transactions_dates" which will contain a list of dates of other transaction of the same property which occured in the past

In [ ]:
data_salesdata.info(verbose=True, show_counts=True)

#### ----- first create a new dataframe with the unique RowID_MAIN_boliga_ROW_ID_unitID    and a list of all dates

In [42]:
# Group by 'ID' and aggregate dates into a list
grouped_Dates_by_ID = data_salesdata.groupby('RowID_MAIN_boliga_ROW_ID_unitID')['salesInfo_MAIN_date_of_Sale'].agg(list).reset_index()

In [ ]:
# change the name of the column 
grouped_Dates_by_ID = grouped_Dates_by_ID.rename(columns={'salesInfo_deedIssueDate': 'salesInfo_ALL_sales_dates_by_main_ID'})

#### ----- NEXT merge data_salesdata and grouped_Dates_by_ID together (on = left - keep all rows in sales)

In [43]:
data_salesdata = pd.merge(data_salesdata, grouped_Dates_by_ID, on='RowID_MAIN_boliga_ROW_ID_unitID', how='left')
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 23 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID   2623340 non-null  object
 1   salesInfo_isSalesValid            2623340 non-null  bool
 2   salesInfo_handoverCode            2623340 non-null  float64
 3   salesInfo_handoverName            2623340 non-null  object
 4   salesInfo_deedIssueDate           2623340 non-null  datetime64[ns]
 5   salesInfo_price                   2623340 non-null  float64
 6   salesInfo_recalculationDate       2623340 non-null  datetime64[ns]
 7   salesInfo_rebuildYear             2623340 non-null  float64
 8   unique_sales_ID                   2623340 non-null  int64
 9   salesInfo_year_of_sale            2623340 non-null  int64
 10  EvaluationInfo_evaluationYear     1364441 non-null  float64
 11  EvaluationInfo_lastChange         1364441 non-null  object
 12  EvaluationInfo_propertyValue      1364441 non-null  float64
 13  EvaluationInfo_landValue          1364441 non-null  float64
 14  EvaluationInfo_deductionSum       1364441 non-null  float64
 15  EvaluationInfo_usage              1364441 non-null  object
 16  EvaluationInfo_residentialUnits   1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea  1364441 non-null  float64
 18  EvaluationInfo_rebuildYear        1364441 non-null  float64
 19  EvaluationInfo_areaSize           1364441 non-null  float64
 20  RAW_dictionary_previousEstates    2623340 non-null  object
 21  salesInfo_MAIN_date_of_Sale_x     2623340 non-null  object
 22  salesInfo_MAIN_date_of_Sale_y     2623340 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(11), int64(2), object(7)
memory usage: 442.8+ MB

In [45]:
data_salesdata['salesInfo_MAIN_date_of_Sale_y']

0          [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
1          [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
2          [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
3          [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
4                                              [2023-11-07]
                                 ...
2623335                            [2006-01-02, 2009-04-20]
2623336                            [2001-06-20, 2006-01-02]
2623337                            [2001-06-20, 2006-01-02]
2623338                            [2006-05-24, 2001-06-07]
2623339                            [2006-05-24, 2001-06-07]
Name: salesInfo_MAIN_date_of_Sale_y, Length: 2623340, dtype: object

In [46]:
data_salesdata = data_salesdata.rename(columns={'salesInfo_MAIN_date_of_Sale_y': 'salesInfo_ALL_sales_dates_by_main_ID', 'salesInfo_MAIN_date_of_Sale_x':'salesInfo_MAIN_date_of_Sale'})

In [47]:
del grouped_Dates_by_ID

In [48]:
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 23 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID       2623340 non-null  object
 1   salesInfo_isSalesValid                2623340 non-null  bool
 2   salesInfo_handoverCode                2623340 non-null  float64
 3   salesInfo_handoverName                2623340 non-null  object
 4   salesInfo_deedIssueDate               2623340 non-null  datetime64[ns]
 5   salesInfo_price                       2623340 non-null  float64
 6   salesInfo_recalculationDate           2623340 non-null  datetime64[ns]
 7   salesInfo_rebuildYear                 2623340 non-null  float64
 8   unique_sales_ID                       2623340 non-null  int64
 9   salesInfo_year_of_sale                2623340 non-null  int64
 10  EvaluationInfo_evaluationYear         1364441 non-null  float64
 11  EvaluationInfo_lastChange             1364441 non-null  object
 12  EvaluationInfo_propertyValue          1364441 non-null  float64
 13  EvaluationInfo_landValue              1364441 non-null  float64
 14  EvaluationInfo_deductionSum           1364441 non-null  float64
 15  EvaluationInfo_usage                  1364441 non-null  object
 16  EvaluationInfo_residentialUnits       1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea      1364441 non-null  float64
 18  EvaluationInfo_rebuildYear            1364441 non-null  float64
 19  EvaluationInfo_areaSize               1364441 non-null  float64
 20  RAW_dictionary_previousEstates        2623340 non-null  object
 21  salesInfo_MAIN_date_of_Sale           2623340 non-null  object
 22  salesInfo_ALL_sales_dates_by_main_ID  2623340 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(11), int64(2), object(7)
memory usage: 442.8+ MB

## step 8) Create column salesInfo_OTHER_sales_dates_by_main_ID  ------ where I have REMOVEd current row date from the list

In [59]:
data_salesdata['salesInfo_OTHER_sales_dates_by_main_ID'] = data_salesdata.apply(
    lambda row: row['salesInfo_ALL_sales_dates_by_main_ID'][:] if row['salesInfo_MAIN_date_of_Sale'] not in row['salesInfo_ALL_sales_dates_by_main_ID'] or not isinstance(row['salesInfo_ALL_sales_dates_by_main_ID'], list) or row['salesInfo_ALL_sales_dates_by_main_ID'] == []
                else [date for date in row['salesInfo_ALL_sales_dates_by_main_ID'] if date != row['salesInfo_MAIN_date_of_Sale']],
    axis=1
)

#### --- check result

In [50]:
data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']

0          9133416f-191b-496e-88bb-62b3a46a370a
1          9133416f-191b-496e-88bb-62b3a46a370a
2          9133416f-191b-496e-88bb-62b3a46a370a
3          9133416f-191b-496e-88bb-62b3a46a370a
4          b1a52c68-cc3c-4ee0-b794-d9e638cc26e4
                           ...
2623335    845ce2df-d0ca-45cf-b6ca-df6ca620a685
2623336    81ce9112-1089-4179-a38e-e89dd148faac
2623337    81ce9112-1089-4179-a38e-e89dd148faac
2623338    ac22bf6a-bb13-4092-be79-ad8951e0b5c3
2623339    ac22bf6a-bb13-4092-be79-ad8951e0b5c3
Name: RowID_MAIN_boliga_ROW_ID_unitID, Length: 2623340, dtype: object

In [51]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_deedIssueDate']

0   2007-09-12
1   2023-01-18
2   2017-12-11
3   2007-09-27
Name: salesInfo_deedIssueDate, dtype: datetime64[ns]

In [52]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_MAIN_date_of_Sale']

0    2007-09-12
1    2023-11-08
2    2017-12-11
3    2007-09-27
Name: salesInfo_MAIN_date_of_Sale, dtype: object

In [ ]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_ALL_sales_dates_by_main_ID']

In [ ]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_OTHER_sales_dates_by_main_ID']

In [ ]:
data_salesdata['RAW_dictionary_previousEstates']

# Step 9: Create column  salesInfo_OLDER_sales_dates_by_main_ID --- which is a list of dates of other transactions which are only older than the current date 


NOTE: CHANGE THIS USING salesInfo_MAIN_date_of_Sale NOT SALES DEED ISSUED !

In [ ]:
date = '2022-01-15'
deed_issue_date = '2022-02-03'

if date <= deed_issue_date:
    
    print('bingo')
else:
    print(f"{date} is greater than {deed_issue_date}")

In [ ]:
data_salesdata['salesInfo_deedIssueDate']

In [ ]:
'2007-09-12'<'2010-09-12'

In [53]:
data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'] = data_salesdata.apply(
    lambda row: row['salesInfo_ALL_sales_dates_by_main_ID'][:] if row['salesInfo_MAIN_date_of_Sale'] not in row['salesInfo_ALL_sales_dates_by_main_ID'] or not isinstance(row['salesInfo_ALL_sales_dates_by_main_ID'], list) or row['salesInfo_ALL_sales_dates_by_main_ID'] == []
                else [date for date in row['salesInfo_ALL_sales_dates_by_main_ID'] if date != row['salesInfo_MAIN_date_of_Sale'] and date <= row['salesInfo_MAIN_date_of_Sale']],
    axis=1
)

### --- CHECK RESULT

In [54]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_deedIssueDate']

0   2007-09-12
1   2023-01-18
2   2017-12-11
3   2007-09-27
Name: salesInfo_deedIssueDate, dtype: datetime64[ns]

In [55]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_MAIN_date_of_Sale']

0    2007-09-12
1    2023-11-08
2    2017-12-11
3    2007-09-27
Name: salesInfo_MAIN_date_of_Sale, dtype: object

In [56]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_ALL_sales_dates_by_main_ID']

0    [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
1    [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
2    [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
3    [2007-09-12, 2023-11-08, 2017-12-11, 2007-09-27]
Name: salesInfo_ALL_sales_dates_by_main_ID, dtype: object

In [60]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_OTHER_sales_dates_by_main_ID']

0    [2023-11-08, 2017-12-11, 2007-09-27]
1    [2007-09-12, 2017-12-11, 2007-09-27]
2    [2007-09-12, 2023-11-08, 2007-09-27]
3    [2007-09-12, 2023-11-08, 2017-12-11]
Name: salesInfo_OTHER_sales_dates_by_main_ID, dtype: object

In [58]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_OLDER_sales_dates_by_main_ID']

0                                      []
1    [2007-09-12, 2017-12-11, 2007-09-27]
2                [2007-09-12, 2007-09-27]
3                            [2007-09-12]
Name: salesInfo_OLDER_sales_dates_by_main_ID, dtype: object

In [62]:
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 25 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         2623340 non-null  object
 1   salesInfo_isSalesValid                  2623340 non-null  bool
 2   salesInfo_handoverCode                  2623340 non-null  float64
 3   salesInfo_handoverName                  2623340 non-null  object
 4   salesInfo_deedIssueDate                 2623340 non-null  datetime64[ns]
 5   salesInfo_price                         2623340 non-null  float64
 6   salesInfo_recalculationDate             2623340 non-null  datetime64[ns]
 7   salesInfo_rebuildYear                   2623340 non-null  float64
 8   unique_sales_ID                         2623340 non-null  int64
 9   salesInfo_year_of_sale                  2623340 non-null  int64
 10  EvaluationInfo_evaluationYear           1364441 non-null  float64
 11  EvaluationInfo_lastChange               1364441 non-null  object
 12  EvaluationInfo_propertyValue            1364441 non-null  float64
 13  EvaluationInfo_landValue                1364441 non-null  float64
 14  EvaluationInfo_deductionSum             1364441 non-null  float64
 15  EvaluationInfo_usage                    1364441 non-null  object
 16  EvaluationInfo_residentialUnits         1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea        1364441 non-null  float64
 18  EvaluationInfo_rebuildYear              1364441 non-null  float64
 19  EvaluationInfo_areaSize                 1364441 non-null  float64
 20  RAW_dictionary_previousEstates          2623340 non-null  object
 21  salesInfo_MAIN_date_of_Sale             2623340 non-null  object
 22  salesInfo_ALL_sales_dates_by_main_ID    2623340 non-null  object
 23  salesInfo_OTHER_sales_dates_by_main_ID  2623340 non-null  object
 24  salesInfo_OLDER_sales_dates_by_main_ID  2623340 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(11), int64(2), object(9)
memory usage: 482.8+ MB

# ----- save THE RESULT AS IS :

In [63]:
save_path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_2_mrgin_newSales_with_Estate_ads\setup\setup_data_salesdata_step1_with_salesInfo_MAIN_date_of_Sale.csv'
data_salesdata.to_csv(save_path, encoding='utf-8', index=False)

# STEP 10) : create column "Relevant_Estates_ads_for_transaction"

* where I filter the RAW_dictionary_previousEstates for only dictionaries where
    * "lastSeen" date is older than 'salesInfo_MAIN_date_of_Sale' 
    * and "lastSeen" is newer than all the dates in the list salesInfo_OLDER_sales_dates_by_main_ID             


# pLAN : RUN THE CODE ON CHUNKS AND FOR EACH CHUNK WRITE TO CSV FILE CALLED setup_Relevant_Estates_ads_for_transaction_step_2.csv

In [1]:
import pandas as pd 
import json
import ast
import numpy as np
import time
import re

In [2]:
def filter_relevant_estates(row):
    deed_issue_date = row['salesInfo_MAIN_date_of_Sale'] ######################################## <--------------salesInfo_MAIN_date_of_Sale NOT deed issued date
    older_sales_dates = row['salesInfo_OLDER_sales_dates_by_main_ID']
    estates_list = row['RAW_dictionary_previousEstates']

    relevant_estates = []

    # Check if 'RAW_dictionary_previousEstates' is a list
    if isinstance(estates_list, list):
        # Iterate over each dictionary in the list
        for estate_dict in estates_list:
            # Extract 'lastSeen' date from the dictionary
            last_seen_date = pd.to_datetime(estate_dict.get('lastSeen', ''))
            
            # Check conditions for relevant estate
            if last_seen_date < deed_issue_date:
                if older_sales_dates != '[]' and older_sales_dates != '' and isinstance(older_sales_dates, list):
                    if np.all(np.array([last_seen_date > pd.to_datetime(date) for date in older_sales_dates if pd.to_datetime(date, errors='coerce') is not pd.NaT])):
                        relevant_estates.append(estate_dict)
                else:
                    relevant_estates.append(estate_dict)

    return relevant_estates

In [4]:
# Set the file paths
input_file_path =  r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_2_mrgin_newSales_with_Estate_ads\setup\setup_data_salesdata_step1_with_salesInfo_MAIN_date_of_Sale.csv'
output_file_path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_2_mrgin_newSales_with_Estate_ads\setup\setup_Relevant_Estates_Variable_Ready_by_MAIN_date_of_Sale_Column.csv'


# Set the chunk size based on your requirements
chunk_size = 100000  # 100.000 rows (2623340/100000 = 26,23 = 27 chunks)

# Read the file in chunks
chunks = pd.read_csv(input_file_path, chunksize=chunk_size)

# set bool var for header- only write header once
missingHeader = True

# count chunks 
chunk_counter = 0
# Perform operations on each chunk
for chunk_data_salesdata in chunks:
    # Record the start time
    start_time = time.time()

    chunk_counter+=1 
    print(f'============================> chunk number:{chunk_counter} out of 27')

    # convert RAW_dictionary_previousEstate again to a dictionary object
    print('------>setting RAW_dictionary_previousEstate to dictionary object')
    chunk_data_salesdata['RAW_dictionary_previousEstates'] = chunk_data_salesdata['RAW_dictionary_previousEstates'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x!='[]' and x!='' and x is not None else x)

    #convert salesInfo_OLDER_sales_dates_by_main_ID  to a list  (now its a string)
    print('------>setting salesInfo_OLDER_sales_dates_by_main_ID to list')
    chunk_data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'] = chunk_data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x!='' and x is not None else x) #and x!='[]'

    # convert  salesInfo_deedIssueDate to a datetime object
    print('------>setting salesInfo_deedIssueDate to datetime object')
    chunk_data_salesdata['salesInfo_deedIssueDate'] = pd.to_datetime(chunk_data_salesdata['salesInfo_deedIssueDate'])#, format="%Y-%m-%d")#.dt.date

    # replace '[]' with None in RAW_dictionary_previousEstates
    print('------>setting [] to None in RAW_dictionary_previousEstates')
    chunk_data_salesdata['RAW_dictionary_previousEstates'] = chunk_data_salesdata['RAW_dictionary_previousEstates'].replace('[]',None)

    # Change "lastSeen" key in dictionary "RAW_dictionary_previousEstates" to a datetime object
    print('------>setting "lastSeen" to datetime object in dictionary')
    chunk_data_salesdata['RAW_dictionary_previousEstates'] = chunk_data_salesdata['RAW_dictionary_previousEstates'].apply(lambda x: None if x is None or x == '[]' or x =='' else [{k: pd.to_datetime(v) if k == 'lastSeen' else v for k, v in d.items()} for d in x])

    #===========================================================
    # Create the variable: Relevant_Estates_ads_for_transaction
    #===========================================================
    # Apply the function using apply and axis=1
    print('------> Creating column : Relevant_Estates_ads_for_transaction!')
    chunk_data_salesdata['Relevant_Estates_ads_for_transaction'] = chunk_data_salesdata.apply(filter_relevant_estates, axis=1)

    # Record the end time
    end_time = time.time()

    # Calculate the runtime
    runtime = end_time - start_time
    print('********************************************************')
    print(f'************** Time it took to run code: {runtime} seconds')
    print('********************************************************')

    
    #===========================================================
    # Save chunk dataframe to csv file (WRITE TO FILE)
    #===========================================================
    print('------> WRITING RESULT TO CSV FILE')
    # Set header=False if you don't want to rewrite the header in each chunk
    chunk_data_salesdata.to_csv(output_file_path, mode='a', index=False, header=missingHeader)
    # dont write header again
    missingHeader = False

    # Record the end time
    end_time = time.time()
    # Calculate the runtime
    runtime = end_time - start_time
    print('********************************************************')
    print(f'************** TOTAL RUNTIME of chunk (with writing to csv): {runtime} seconds')
    print('********************************************************')

============================> chunk number:1 out of 27
------>setting RAW_dictionary_previousEstate to dictionary object
------>setting salesInfo_OLDER_sales_dates_by_main_ID to list
------>setting salesInfo_deedIssueDate to datetime object
------>setting [] to None in RAW_dictionary_previousEstates
------>setting "lastSeen" to datetime object in dictionary
------> Creating column : Relevant_Estates_ads_for_transaction!

TypeError: '<' not supported between instances of 'Timestamp' and 'str'

### --------- read in file

In [61]:
path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_2_mrgin_newSales_with_Estate_ads\setup\setup_Relevant_Estates_Variable_Ready.csv'
data_salesdata = pd.read_csv(path, encoding='utf-8', low_memory=False)
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 25 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         2623340 non-null  object
 1   salesInfo_isSalesValid                  2623340 non-null  bool
 2   salesInfo_handoverCode                  2623340 non-null  float64
 3   salesInfo_handoverName                  2623340 non-null  object
 4   salesInfo_deedIssueDate                 2623340 non-null  object
 5   salesInfo_price                         2623340 non-null  float64
 6   salesInfo_recalculationDate             2623340 non-null  object
 7   salesInfo_rebuildYear                   2623340 non-null  float64
 8   unique_sales_ID                         2623340 non-null  int64
 9   salesInfo_year_of_sale                  2623340 non-null  int64
 10  EvaluationInfo_evaluationYear           1364441 non-null  float64
 11  EvaluationInfo_lastChange               1364441 non-null  object
 12  EvaluationInfo_propertyValue            1364441 non-null  float64
 13  EvaluationInfo_landValue                1364441 non-null  float64
 14  EvaluationInfo_deductionSum             1364441 non-null  float64
 15  EvaluationInfo_usage                    1364441 non-null  object
 16  EvaluationInfo_residentialUnits         1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea        1364441 non-null  float64
 18  EvaluationInfo_rebuildYear              1364441 non-null  float64
 19  EvaluationInfo_areaSize                 1364441 non-null  float64
 20  RAW_dictionary_previousEstates          1790826 non-null  object
 21  salesInfo_ALL_sales_dates_by_main_ID    2623340 non-null  object
 22  salesInfo_OTHER_sales_dates_by_main_ID  2623340 non-null  object
 23  salesInfo_OLDER_sales_dates_by_main_ID  2623340 non-null  object
 24  Relevant_Estates_ads_for_transaction    2623340 non-null  object
dtypes: bool(1), float64(11), int64(2), object(11)
memory usage: 482.8+ MB

#### -- clean up column Relevant_Estates_ads_for_transaction     from the string "Timestamp()" other wise eval_literal wont work

In [62]:
# Define a function to perform the replacement
def replace_timestamp(value):
    return re.sub(pattern, r"\1", value)


# Define a regular expression pattern to match Timestamp('...')
pattern = re.compile(r"Timestamp\(('[^']+?')\)")

# Use map to apply the replacement to each string in the list
data_salesdata['Relevant_Estates_ads_for_transaction'] = data_salesdata['Relevant_Estates_ads_for_transaction'].apply(lambda x: replace_timestamp(x))

In [56]:
# # convert each tring from single quoted to double qouted
# data_salesdata['Relevant_Estates_ads_for_transaction'] = data_salesdata['Relevant_Estates_ads_for_transaction'].apply(lambda x: x.replace("'", "\"") if x !='' and x !='[]' else None)

### ----- Convert column "Relevant_Estates_ads_for_transaction" to a list object

In [63]:
data_salesdata['Relevant_Estates_ads_for_transaction'] = data_salesdata['Relevant_Estates_ads_for_transaction'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x!='[]' and x!='' and x is not None else None)

In [65]:
data_salesdata['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '2022-11-08 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '2022-09-14 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'}]

In [68]:
data_salesdata[~data_salesdata['Relevant_Estates_ads_for_transaction'].isna()]

,RowID_MAIN_boliga_ROW_ID_unitID,salesInfo_isSalesValid,salesInfo_handoverCode,salesInfo_handoverName,salesInfo_deedIssueDate,salesInfo_price,salesInfo_recalculationDate,salesInfo_rebuildYear,unique_sales_ID,salesInfo_year_of_sale,...,EvaluationInfo_usage,EvaluationInfo_residentialUnits,EvaluationInfo_propertyValueArea,EvaluationInfo_rebuildYear,EvaluationInfo_areaSize,RAW_dictionary_previousEstates,salesInfo_ALL_sales_dates_by_main_ID,salesInfo_OTHER_sales_dates_by_main_ID,salesInfo_OLDER_sales_dates_by_main_ID,Relevant_Estates_ads_for_transaction
1,9133416f-191b-496e-88bb-62b3a46a370a,True,1.0,Alm. frit salg,2023-01-18,3050000.0,2023-11-08,2008.0,2,2023,...,Beboelsesejendom,1.0,2250000.0,2008.0,562.0,"[{'estateId': 1931979, 'estateAddress': 'Rønne...","['2007-09-12', '2023-01-18', '2017-12-11', '20...","['2007-09-12', '2017-12-11', '2007-09-27']","['2007-09-12', '2017-12-11', '2007-09-27']","[{'estateId': 1931979, 'estateAddress': 'Rønne..."
2,9133416f-191b-496e-88bb-62b3a46a370a,True,1.0,Alm. frit salg,2017-12-11,2910000.0,2017-08-30,2008.0,3,2017,...,Beboelsesejendom,1.0,2250000.0,2008.0,562.0,"[{'estateId': 1931979, 'estateAddress': 'Rønne...","['2007-09-12', '2023-01-18', '2017-12-11', '20...","['2007-09-12', '2023-01-18', '2007-09-27']","['2007-09-12', '2007-09-27']","[{'estateId': 1352628, 'estateAddress': 'Rønne..."
4,b1a52c68-cc3c-4ee0-b794-d9e638cc26e4,True,1.0,Alm. frit salg,2023-11-07,3900000.0,2023-11-07,1976.0,5,2023,...,Beboelsesejendom,1.0,2500000.0,1976.0,217.0,"[{'estateId': 1988849, 'estateAddress': 'Ibsgå...",['2023-11-07'],[],[],"[{'estateId': 1988849, 'estateAddress': 'Ibsgå..."
5,f45b8fc3-af55-4907-b05e-bbc3f98c5935,True,1.0,Alm. frit salg,2023-11-07,1160000.0,2023-11-07,1898.0,6,2023,...,Beboelsesejendom,1.0,530000.0,1898.0,343.0,"[{'estateId': 2023363, 'estateAddress': 'Gaabe...","['2023-11-07', '2016-08-26']",['2016-08-26'],['2016-08-26'],"[{'estateId': 2023363, 'estateAddress': 'Gaabe..."
6,f45b8fc3-af55-4907-b05e-bbc3f98c5935,True,1.0,Alm. frit salg,2016-08-26,275000.0,2016-08-03,1898.0,7,2016,...,Beboelsesejendom,1.0,530000.0,1898.0,343.0,"[{'estateId': 2023363, 'estateAddress': 'Gaabe...","['2023-11-07', '2016-08-26']",['2023-11-07'],[],"[{'estateId': 1223229, 'estateAddress': 'Gaabe..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623113,fcd80f19-79c3-4847-a632-65eb64be9b3f,True,1.0,Alm. frit salg,2015-02-11,1160000.0,2014-12-12,1935.0,2623574,2014,...,"Ejerlejlighed, beboelse",1.0,770000.0,1935.0,0.0,"[{'estateId': 1370414, 'estateAddress': 'Bisid...","['1899-12-30', '2018-03-06', '1899-12-30', '20...","['1899-12-30', '2018-03-06', '1899-12-30', '20...","['1899-12-30', '1899-12-30', '1899-12-30', '20...","[{'estateId': 1022233, 'estateAddress': 'Bisid..."
2623156,0a4e4a38-9d75-49d8-86cd-6d875dfe4c73,True,3.0,Auktion,2016-04-01,345000.0,2015-02-03,1890.0,2623617,2015,...,"Ejerlejlighed med beboelse i en-, to-, trefami...",1.0,560000.0,1890.0,0.0,"[{'estateId': 1140517, 'estateAddress': 'Nyvej...","['2016-04-01', '2006-01-02', '2004-02-26']","['2006-01-02', '2004-02-26']","['2006-01-02', '2004-02-26']","[{'estateId': 1140517, 'estateAddress': 'Nyvej..."
2623237,24716e85-a89f-484e-bb9d-e2dea980f01c,True,1.0,Alm. frit salg,2012-03-16,1400000.0,2012-01-10,1972.0,2623698,2012,...,Beboelsesejendom,1.0,1350000.0,1972.0,683.0,"[{'estateId': 564069, 'estateAddress': 'Jystru...","['2012-03-16', '2012-03-16', '2004-08-14', '20...","['2004-08-14', '2006-02-02', '2017-03-17']","['2004-08-14', '2006-02-02']","[{'estateId': 564069, 'estateAddress': 'Jystru..."
2623238,24716e85-a89f-484e-bb9d-e2dea980f01c,True,1.0,Alm. frit salg,2012-03-16,1400000.0,2012-01-10,1972.0,2623699,2012,...,Beboelsesejendom,1.0,1350000.0,1972.0,683.0,"[{'estateId': 564069, 'estateAddress': 'Jystru...","['2012-03-16', '2012-03-16', '2004-08-14', '20...","['2004-08-14', '2006-02-02', '2017-03-17']","['2004-08-14', '2006-02-02']","[{'estateId': 564069, 'estateAddress': 'Jystru..."
2623286,cc09cd46-73fc-4258-ad84-2efcb907b661,True,3.0,Auktion,2011-07-06,995000.0,2010-08-24,1972.0,2623747,2010,...,Beboelsesejendom,1.0,1650000.0,1972.0,841.0,"[{'estateId': 543780, 'estateAddress': 'Rugvan...","['2006-01-02', '2011-07-06']",['2006-01-02'],['2006-01-02'],"[{'estateId': 543780, 'estateAddress': 'Rugvan..."

In [71]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == '9133416f-191b-496e-88bb-62b3a46a370a']['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '2022-11-08 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '2022-09-14 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'}]

In [72]:
data_salesdata[~data_salesdata['Relevant_Estates_ads_for_transaction'].isna()]['EvaluationInfo_usage'].value_counts()

EvaluationInfo_usage
Beboelsesejendom                                                        550181
Ejerlejlighed, beboelse                                                 172796
Landbrug, bebygget, mindst 0,55 Ha.                                      13352
Ejerlejlighed med beboelse i en-, to-, trefamiliehus ell. dobbelthus     10401
Ejerlejlighed med beboelse i rækkehusbebyggelse.                          7207
Ubebygget areal (Ikke landbrugsareal), forskelsværdi max. 10 %            5281
Beboelses- og forretningsejendom                                          4711
Sommerhus.                                                                 897
Ejerlejlighed, øvrige på fremmed grund.                                    808
Ejerlejlighed, ren forretning                                              499
Ejerlejlighed, iøvrigt.                                                    451
Frugtplantage, gartneri og planteskole.                                    317
Ren forretning.                                                            226
Kommunal beboelses- og forretningsejendom.                                 213
Privat institutions- og serviceejendom.                                    184
Anden kommunal ejendom (Skole, rådhus m.v.).                               137
Erhvervsejendom af speciel karakter                                        126
Særskilt vurderet skov og plantage.                                        116
Andre vurderinger.                                                         110
Ejerlejlighed, beboelse og forretning                                      101
Areal med bygning på fremmed grund.                                         44
Beboelse på fremmed grund.                                                  34
Fabrik og lager.                                                            17
Ejerlejlighed, fabrik og lager.                                             15
Ubebyggede landbrugslodder.                                                 13
Statsejendom (Bebygget).                                                     4
Opkrævningsejendom (Areal vurderet i anden kommune).                         2
Anden bygning på fremmed grund.                                              2
Sommerhus på fremmed grund.                                                  1
Name: count, dtype: int64

# ======================================================

# NOW CREATE THE VARIABLES FROM THE ADS/ESTATES ! 

# ======================================================


* Number_of_estates_ads
* Number_of_days_between_ads
* Total_daysForSale
* NEWESTAd_askingPrice_lastAd
* OLDESTAd_askingPrice_firstAd
* NEWESTAd_daysForSale
* OLDESTAd_daysForSale
* NEWESTAd_lastSeen_Date
* OLDESTAd_lastSeen_Date

### =======================> creating : Number_of_estates_ads

In [73]:
data_salesdata['Relevant_Estates_ads_for_transaction']

0                                                       None
1          [{'estateId': 1931979, 'estateAddress': 'Rønne...
2          [{'estateId': 1352628, 'estateAddress': 'Rønne...
3                                                       None
4          [{'estateId': 1988849, 'estateAddress': 'Ibsgå...
                                 ...
2623335                                                 None
2623336                                                 None
2623337                                                 None
2623338                                                 None
2623339                                                 None
Name: Relevant_Estates_ads_for_transaction, Length: 2623340, dtype: object

In [80]:
data_salesdata['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '2022-11-08 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '2022-09-14 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'}]

In [77]:
data_salesdata['Estate_info_Number_of_estates_Ads'] = data_salesdata['Relevant_Estates_ads_for_transaction'].apply(lambda x: len(x) if isinstance(x,list) else 0)

In [78]:
data_salesdata['Estate_info_Number_of_estates_Ads'].value_counts()

Estate_info_Number_of_estates_Ads
0     1776103
1      658845
2      135860
3       35846
4       11031
5        3586
6        1291
7         443
8         176
9          77
10         24
15         15
11         10
13         10
12          9
18          8
14          3
21          1
19          1
23          1
Name: count, dtype: int64

### =======================> creating : Total_daysForSale

In [84]:
data_salesdata['Estate_info_Number_of_dayes_between_ads'] = data_salesdata['Relevant_Estates_ads_for_transaction'].apply(
    lambda ads_list: sum(ad.get('daysForSale', 0) for ad in (ads_list if ads_list is not None else [])) ### use [] because sum() function need an iterable, cant set to 0
)

In [87]:
data_salesdata['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '2022-11-08 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '2022-09-14 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'}]

In [86]:
data_salesdata['Estate_info_Number_of_dayes_between_ads'][1]

294

In [89]:
data_salesdata['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '2022-11-08 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '2022-09-14 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'}]

In [91]:
newest_dict = min(data_salesdata['Relevant_Estates_ads_for_transaction'][1], key=lambda x: x['lastSeen'])
newest_dict

{'estateId': 1857402,
 'estateAddress': 'Rønnevangen 1',
 'daysForSale': 242,
 'salesPrice': 3348000,
 'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
 'lastSeen': '2022-09-14 00:00:00',
 'zipCode': 8471,
 'city': 'Sabro'}

##### =======================> creating : NEWESTAd_askingPrice_lastAd
##### =======================> creating : OLDESTAd_askingPrice_firstAd
##### =======================> creating : NEWESTAd_daysForSale
##### =======================> creating : OLDESTAd_daysForSale
##### =======================> creating : NEWESTAd_lastSeen_Date
##### =======================> creating : OLDESTAd_lastSeen_Date

In [92]:
########### Create variables in dataframe 

data_salesdata['Estate_Info_NEWESTAd_askingPrice_lastAd'] = None
data_salesdata['Estate_Info_NEWESTAd_daysForSale'] = None
data_salesdata['Estate_Info_NEWESTAd_lastSeen_Date'] = None
data_salesdata['Estate_Info_OLDESTAd_askingPrice_firstAd'] = None
data_salesdata['Estate_Info_OLDESTAd_daysForSale'] = None
data_salesdata['Estate_Info_OLDESTAd_lastSeen_Date'] = None

In [94]:
len(data_salesdata[~data_salesdata['Relevant_Estates_ads_for_transaction'].isna()])

847237

In [97]:
counter = 0
for index, row in data_salesdata[~data_salesdata['Relevant_Estates_ads_for_transaction'].isna()].iterrows():

    # the counter 
    counter +=1 
    if counter % 1000 == 0:
        print(f'Number of rows gone over: {counter} out of 847.237')

    NEWESTAd_askingPrice_lastAd = None
    NEWESTAd_daysForSale = None
    NEWESTAd_lastSeen_Date = None
    OLDESTAd_askingPrice_firstAd = None
    OLDESTAd_daysForSale = None
    OLDESTAd_lastSeen_Date = None


    # ---------------------------------------------------------
    # get key variables
    # ----------------------------------------------------------
    relevant_estates_dict = row['Relevant_Estates_ads_for_transaction']


    # ---------------------------------------------------------
    # find the dictionary with the NEWEST date 
    # ----------------------------------------------------------
    newest_dictionary_estate = max(relevant_estates_dict, key=lambda x: x['lastSeen'])

    # ------------ Get Values : 

    # get value for : NEWESTAd_askingPrice_lastAd
    NEWESTAd_askingPrice_lastAd = newest_dictionary_estate['salesPrice']
    # get value for : NEWESTAd_daysForSale
    NEWESTAd_daysForSale = newest_dictionary_estate['daysForSale']
    # get value for : NEWESTAd_lastSeen_Date   
    NEWESTAd_lastSeen_Date = newest_dictionary_estate['lastSeen']


    # ---------------------------------------------------------
    # find the dictionary with the OLDEST date 
    # ----------------------------------------------------------
    oldest_dictionary_estate = min(relevant_estates_dict, key=lambda x: x['lastSeen'])

    # ------------ Get Values : 

    # get value for : OLDESTAd_askingPrice_firstAd
    OLDESTAd_askingPrice_firstAd = oldest_dictionary_estate['salesPrice']
    # get value for : OLDESTAd_daysForSale
    OLDESTAd_daysForSale = oldest_dictionary_estate['daysForSale']
    # get value for : OLDESTAd_lastSeen_Date
    OLDESTAd_lastSeen_Date = oldest_dictionary_estate['lastSeen']


    # ---------------------------------------------------------
    #  APPEND RESULT TO DATAFRAME
    # ----------------------------------------------------------
    data_salesdata.at[index, 'Estate_Info_NEWEST_Ad_askingPrice_lastAd'] = NEWESTAd_askingPrice_lastAd
    data_salesdata.at[index, 'Estate_Info_NEWEST_Ad_daysForSale'] = NEWESTAd_daysForSale
    data_salesdata.at[index, 'Estate_Info_NEWEST_Ad_lastSeen_Date'] = NEWESTAd_lastSeen_Date
    data_salesdata.at[index, 'Estate_Info_OLDEST_Ad_askingPrice_firstAd'] = OLDESTAd_askingPrice_firstAd
    data_salesdata.at[index, 'Estate_Info_OLDEST_Ad_daysForSale'] = OLDESTAd_daysForSale
    data_salesdata.at[index, 'Estate_Info_OLDEST_Ad_lastSeen_Date'] = OLDESTAd_lastSeen_Date

Number of rows gone over: 1000 out of 847.237
Number of rows gone over: 2000 out of 847.237
Number of rows gone over: 3000 out of 847.237
Number of rows gone over: 4000 out of 847.237
Number of rows gone over: 5000 out of 847.237
Number of rows gone over: 6000 out of 847.237
Number of rows gone over: 7000 out of 847.237
Number of rows gone over: 8000 out of 847.237
Number of rows gone over: 9000 out of 847.237
Number of rows gone over: 10000 out of 847.237
Number of rows gone over: 11000 out of 847.237
Number of rows gone over: 12000 out of 847.237
Number of rows gone over: 13000 out of 847.237
Number of rows gone over: 14000 out of 847.237
Number of rows gone over: 15000 out of 847.237
Number of rows gone over: 16000 out of 847.237
Number of rows gone over: 17000 out of 847.237
Number of rows gone over: 18000 out of 847.237
Number of rows gone over: 19000 out of 847.237
Number of rows gone over: 20000 out of 847.237
Number of rows gone over: 21000 out of 847.237
Number of rows gone over: 22000 out of 847.237
Number of rows gone over: 23000 out of 847.237
Number of rows gone over: 24000 out of 847.237
Number of rows gone over: 25000 out of 847.237
Number of rows gone over: 26000 out of 847.237
Number of rows gone over: 27000 out of 847.237
Number of rows gone over: 28000 out of 847.237
Number of rows gone over: 29000 out of 847.237
Number of rows gone over: 30000 out of 847.237
Number of rows gone over: 31000 out of 847.237
Number of rows gone over: 32000 out of 847.237
Number of rows gone over: 33000 out of 847.237
Number of rows gone over: 34000 out of 847.237
Number of rows gone over: 35000 out of 847.237
Number of rows gone over: 36000 out of 847.237
Number of rows gone over: 37000 out of 847.237
Number of rows gone over: 38000 out of 847.237
Number of rows gone over: 39000 out of 847.237
Number of rows gone over: 40000 out of 847.237
Number of rows gone over: 41000 out of 847.237
Number of rows gone over: 42000 out of 847.237
Number of rows gone over: 43000 out of 847.237
Number of rows gone over: 44000 out of 847.237
Number of rows gone over: 45000 out of 847.237
Number of rows gone over: 46000 out of 847.237
Number of rows gone over: 47000 out of 847.237
Number of rows gone over: 48000 out of 847.237
Number of rows gone over: 49000 out of 847.237
Number of rows gone over: 50000 out of 847.237
Number of rows gone over: 51000 out of 847.237
Number of rows gone over: 52000 out of 847.237
Number of rows gone over: 53000 out of 847.237
Number of rows gone over: 54000 out of 847.237
Number of rows gone over: 55000 out of 847.237
Number of rows gone over: 56000 out of 847.237
Number of rows gone over: 57000 out of 847.237
Number of rows gone over: 58000 out of 847.237
Number of rows gone over: 59000 out of 847.237
Number of rows gone over: 60000 out of 847.237
Number of rows gone over: 61000 out of 847.237
Number of rows gone over: 62000 out of 847.237
Number of rows gone over: 63000 out of 847.237
Number of rows gone over: 64000 out of 847.237
Number of rows gone over: 65000 out of 847.237
Number of rows gone over: 66000 out of 847.237
Number of rows gone over: 67000 out of 847.237
Number of rows gone over: 68000 out of 847.237
Number of rows gone over: 69000 out of 847.237
Number of rows gone over: 70000 out of 847.237
Number of rows gone over: 71000 out of 847.237
Number of rows gone over: 72000 out of 847.237
Number of rows gone over: 73000 out of 847.237
Number of rows gone over: 74000 out of 847.237
Number of rows gone over: 75000 out of 847.237
Number of rows gone over: 76000 out of 847.237
Number of rows gone over: 77000 out of 847.237
Number of rows gone over: 78000 out of 847.237
Number of rows gone over: 79000 out of 847.237
Number of rows gone over: 80000 out of 847.237
Number of rows gone over: 81000 out of 847.237
Number of rows gone over: 82000 out of 847.237
Number of rows gone over: 83000 out of 847.237
Number of rows gone over: 84000 out of 847.237
Number of rows gone over: 85000 out of 847.237
Number of rows gone over: 86000 out of 847.237
Number of rows gone over: 87000 out of 847.237
Number of rows gone over: 88000 out of 847.237
Number of rows gone over: 89000 out of 847.237
Number of rows gone over: 90000 out of 847.237
Number of rows gone over: 91000 out of 847.237
Number of rows gone over: 92000 out of 847.237
Number of rows gone over: 93000 out of 847.237
Number of rows gone over: 94000 out of 847.237
Number of rows gone over: 95000 out of 847.237
Number of rows gone over: 96000 out of 847.237
Number of rows gone over: 97000 out of 847.237
Number of rows gone over: 98000 out of 847.237
Number of rows gone over: 99000 out of 847.237
Number of rows gone over: 100000 out of 847.237
Number of rows gone over: 101000 out of 847.237
Number of rows gone over: 102000 out of 847.237
Number of rows gone over: 103000 out of 847.237
Number of rows gone over: 104000 out of 847.237
Number of rows gone over: 105000 out of 847.237
Number of rows gone over: 106000 out of 847.237
Number of rows gone over: 107000 out of 847.237
Number of rows gone over: 108000 out of 847.237
Number of rows gone over: 109000 out of 847.237
Number of rows gone over: 110000 out of 847.237
Number of rows gone over: 111000 out of 847.237
Number of rows gone over: 112000 out of 847.237
Number of rows gone over: 113000 out of 847.237
Number of rows gone over: 114000 out of 847.237
Number of rows gone over: 115000 out of 847.237
Number of rows gone over: 116000 out of 847.237
Number of rows gone over: 117000 out of 847.237
Number of rows gone over: 118000 out of 847.237
Number of rows gone over: 119000 out of 847.237
Number of rows gone over: 120000 out of 847.237
Number of rows gone over: 121000 out of 847.237
Number of rows gone over: 122000 out of 847.237
Number of rows gone over: 123000 out of 847.237
Number of rows gone over: 124000 out of 847.237
Number of rows gone over: 125000 out of 847.237
Number of rows gone over: 126000 out of 847.237
Number of rows gone over: 127000 out of 847.237
Number of rows gone over: 128000 out of 847.237
Number of rows gone over: 129000 out of 847.237
Number of rows gone over: 130000 out of 847.237
Number of rows gone over: 131000 out of 847.237
Number of rows gone over: 132000 out of 847.237
Number of rows gone over: 133000 out of 847.237
Number of rows gone over: 134000 out of 847.237
Number of rows gone over: 135000 out of 847.237
Number of rows gone over: 136000 out of 847.237
Number of rows gone over: 137000 out of 847.237
Number of rows gone over: 138000 out of 847.237
Number of rows gone over: 139000 out of 847.237
Number of rows gone over: 140000 out of 847.237
Number of rows gone over: 141000 out of 847.237
Number of rows gone over: 142000 out of 847.237
Number of rows gone over: 143000 out of 847.237
Number of rows gone over: 144000 out of 847.237
Number of rows gone over: 145000 out of 847.237
Number of rows gone over: 146000 out of 847.237
Number of rows gone over: 147000 out of 847.237
Number of rows gone over: 148000 out of 847.237
Number of rows gone over: 149000 out of 847.237
Number of rows gone over: 150000 out of 847.237
Number of rows gone over: 151000 out of 847.237
Number of rows gone over: 152000 out of 847.237
Number of rows gone over: 153000 out of 847.237
Number of rows gone over: 154000 out of 847.237
Number of rows gone over: 155000 out of 847.237
Number of rows gone over: 156000 out of 847.237
Number of rows gone over: 157000 out of 847.237
Number of rows gone over: 158000 out of 847.237
Number of rows gone over: 159000 out of 847.237
Number of rows gone over: 160000 out of 847.237
Number of rows gone over: 161000 out of 847.237
Number of rows gone over: 162000 out of 847.237
Number of rows gone over: 163000 out of 847.237
Number of rows gone over: 164000 out of 847.237
Number of rows gone over: 165000 out of 847.237
Number of rows gone over: 166000 out of 847.237
Number of rows gone over: 167000 out of 847.237
Number of rows gone over: 168000 out of 847.237
Number of rows gone over: 169000 out of 847.237
Number of rows gone over: 170000 out of 847.237
Number of rows gone over: 171000 out of 847.237
Number of rows gone over: 172000 out of 847.237
Number of rows gone over: 173000 out of 847.237
Number of rows gone over: 174000 out of 847.237
Number of rows gone over: 175000 out of 847.237
Number of rows gone over: 176000 out of 847.237
Number of rows gone over: 177000 out of 847.237
Number of rows gone over: 178000 out of 847.237
Number of rows gone over: 179000 out of 847.237
Number of rows gone over: 180000 out of 847.237
Number of rows gone over: 181000 out of 847.237
Number of rows gone over: 182000 out of 847.237
Number of rows gone over: 183000 out of 847.237
Number of rows gone over: 184000 out of 847.237
Number of rows gone over: 185000 out of 847.237
Number of rows gone over: 186000 out of 847.237
Number of rows gone over: 187000 out of 847.237
Number of rows gone over: 188000 out of 847.237
Number of rows gone over: 189000 out of 847.237
Number of rows gone over: 190000 out of 847.237
Number of rows gone over: 191000 out of 847.237
Number of rows gone over: 192000 out of 847.237
Number of rows gone over: 193000 out of 847.237
Number of rows gone over: 194000 out of 847.237
Number of rows gone over: 195000 out of 847.237
Number of rows gone over: 196000 out of 847.237
Number of rows gone over: 197000 out of 847.237
Number of rows gone over: 198000 out of 847.237
Number of rows gone over: 199000 out of 847.237
Number of rows gone over: 200000 out of 847.237
Number of rows gone over: 201000 out of 847.237
Number of rows gone over: 202000 out of 847.237
Number of rows gone over: 203000 out of 847.237
Number of rows gone over: 204000 out of 847.237
Number of rows gone over: 205000 out of 847.237
Number of rows gone over: 206000 out of 847.237
Number of rows gone over: 207000 out of 847.237
Number of rows gone over: 208000 out of 847.237
Number of rows gone over: 209000 out of 847.237
Number of rows gone over: 210000 out of 847.237
Number of rows gone over: 211000 out of 847.237
Number of rows gone over: 212000 out of 847.237
Number of rows gone over: 213000 out of 847.237
Number of rows gone over: 214000 out of 847.237
Number of rows gone over: 215000 out of 847.237
Number of rows gone over: 216000 out of 847.237
Number of rows gone over: 217000 out of 847.237
Number of rows gone over: 218000 out of 847.237
Number of rows gone over: 219000 out of 847.237
Number of rows gone over: 220000 out of 847.237
Number of rows gone over: 221000 out of 847.237
Number of rows gone over: 222000 out of 847.237
Number of rows gone over: 223000 out of 847.237
Number of rows gone over: 224000 out of 847.237
Number of rows gone over: 225000 out of 847.237
Number of rows gone over: 226000 out of 847.237
Number of rows gone over: 227000 out of 847.237
Number of rows gone over: 228000 out of 847.237
Number of rows gone over: 229000 out of 847.237
Number of rows gone over: 230000 out of 847.237
Number of rows gone over: 231000 out of 847.237
Number of rows gone over: 232000 out of 847.237
Number of rows gone over: 233000 out of 847.237
Number of rows gone over: 234000 out of 847.237
Number of rows gone over: 235000 out of 847.237
Number of rows gone over: 236000 out of 847.237
Number of rows gone over: 237000 out of 847.237
Number of rows gone over: 238000 out of 847.237
Number of rows gone over: 239000 out of 847.237
Number of rows gone over: 240000 out of 847.237
Number of rows gone over: 241000 out of 847.237
Number of rows gone over: 242000 out of 847.237
Number of rows gone over: 243000 out of 847.237
Number of rows gone over: 244000 out of 847.237
Number of rows gone over: 245000 out of 847.237
Number of rows gone over: 246000 out of 847.237
Number of rows gone over: 247000 out of 847.237
Number of rows gone over: 248000 out of 847.237
Number of rows gone over: 249000 out of 847.237
Number of rows gone over: 250000 out of 847.237
Number of rows gone over: 251000 out of 847.237
Number of rows gone over: 252000 out of 847.237
Number of rows gone over: 253000 out of 847.237
Number of rows gone over: 254000 out of 847.237
Number of rows gone over: 255000 out of 847.237
Number of rows gone over: 256000 out of 847.237
Number of rows gone over: 257000 out of 847.237
Number of rows gone over: 258000 out of 847.237
Number of rows gone over: 259000 out of 847.237
Number of rows gone over: 260000 out of 847.237
Number of rows gone over: 261000 out of 847.237
Number of rows gone over: 262000 out of 847.237
Number of rows gone over: 263000 out of 847.237
Number of rows gone over: 264000 out of 847.237
Number of rows gone over: 265000 out of 847.237
Number of rows gone over: 266000 out of 847.237
Number of rows gone over: 267000 out of 847.237
Number of rows gone over: 268000 out of 847.237
Number of rows gone over: 269000 out of 847.237
Number of rows gone over: 270000 out of 847.237
Number of rows gone over: 271000 out of 847.237
Number of rows gone over: 272000 out of 847.237
Number of rows gone over: 273000 out of 847.237
Number of rows gone over: 274000 out of 847.237
Number of rows gone over: 275000 out of 847.237
Number of rows gone over: 276000 out of 847.237
Number of rows gone over: 277000 out of 847.237
Number of rows gone over: 278000 out of 847.237
Number of rows gone over: 279000 out of 847.237
Number of rows gone over: 280000 out of 847.237
Number of rows gone over: 281000 out of 847.237
Number of rows gone over: 282000 out of 847.237
Number of rows gone over: 283000 out of 847.237
Number of rows gone over: 284000 out of 847.237
Number of rows gone over: 285000 out of 847.237
Number of rows gone over: 286000 out of 847.237
Number of rows gone over: 287000 out of 847.237
Number of rows gone over: 288000 out of 847.237
Number of rows gone over: 289000 out of 847.237
Number of rows gone over: 290000 out of 847.237
Number of rows gone over: 291000 out of 847.237
Number of rows gone over: 292000 out of 847.237
Number of rows gone over: 293000 out of 847.237
Number of rows gone over: 294000 out of 847.237
Number of rows gone over: 295000 out of 847.237
Number of rows gone over: 296000 out of 847.237
Number of rows gone over: 297000 out of 847.237
Number of rows gone over: 298000 out of 847.237
Number of rows gone over: 299000 out of 847.237
Number of rows gone over: 300000 out of 847.237
Number of rows gone over: 301000 out of 847.237
Number of rows gone over: 302000 out of 847.237
Number of rows gone over: 303000 out of 847.237
Number of rows gone over: 304000 out of 847.237
Number of rows gone over: 305000 out of 847.237
Number of rows gone over: 306000 out of 847.237
Number of rows gone over: 307000 out of 847.237
Number of rows gone over: 308000 out of 847.237
Number of rows gone over: 309000 out of 847.237
Number of rows gone over: 310000 out of 847.237
Number of rows gone over: 311000 out of 847.237
Number of rows gone over: 312000 out of 847.237
Number of rows gone over: 313000 out of 847.237
Number of rows gone over: 314000 out of 847.237
Number of rows gone over: 315000 out of 847.237
Number of rows gone over: 316000 out of 847.237
Number of rows gone over: 317000 out of 847.237
Number of rows gone over: 318000 out of 847.237
Number of rows gone over: 319000 out of 847.237
Number of rows gone over: 320000 out of 847.237
Number of rows gone over: 321000 out of 847.237
Number of rows gone over: 322000 out of 847.237
Number of rows gone over: 323000 out of 847.237
Number of rows gone over: 324000 out of 847.237
Number of rows gone over: 325000 out of 847.237
Number of rows gone over: 326000 out of 847.237
Number of rows gone over: 327000 out of 847.237
Number of rows gone over: 328000 out of 847.237
Number of rows gone over: 329000 out of 847.237
Number of rows gone over: 330000 out of 847.237
Number of rows gone over: 331000 out of 847.237
Number of rows gone over: 332000 out of 847.237
Number of rows gone over: 333000 out of 847.237
Number of rows gone over: 334000 out of 847.237
Number of rows gone over: 335000 out of 847.237
Number of rows gone over: 336000 out of 847.237
Number of rows gone over: 337000 out of 847.237
Number of rows gone over: 338000 out of 847.237
Number of rows gone over: 339000 out of 847.237
Number of rows gone over: 340000 out of 847.237
Number of rows gone over: 341000 out of 847.237
Number of rows gone over: 342000 out of 847.237
Number of rows gone over: 343000 out of 847.237
Number of rows gone over: 344000 out of 847.237
Number of rows gone over: 345000 out of 847.237
Number of rows gone over: 346000 out of 847.237
Number of rows gone over: 347000 out of 847.237
Number of rows gone over: 348000 out of 847.237
Number of rows gone over: 349000 out of 847.237
Number of rows gone over: 350000 out of 847.237
Number of rows gone over: 351000 out of 847.237
Number of rows gone over: 352000 out of 847.237
Number of rows gone over: 353000 out of 847.237
Number of rows gone over: 354000 out of 847.237
Number of rows gone over: 355000 out of 847.237
Number of rows gone over: 356000 out of 847.237
Number of rows gone over: 357000 out of 847.237
Number of rows gone over: 358000 out of 847.237
Number of rows gone over: 359000 out of 847.237
Number of rows gone over: 360000 out of 847.237
Number of rows gone over: 361000 out of 847.237
Number of rows gone over: 362000 out of 847.237
Number of rows gone over: 363000 out of 847.237
Number of rows gone over: 364000 out of 847.237
Number of rows gone over: 365000 out of 847.237
Number of rows gone over: 366000 out of 847.237
Number of rows gone over: 367000 out of 847.237
Number of rows gone over: 368000 out of 847.237
Number of rows gone over: 369000 out of 847.237
Number of rows gone over: 370000 out of 847.237
Number of rows gone over: 371000 out of 847.237
Number of rows gone over: 372000 out of 847.237
Number of rows gone over: 373000 out of 847.237
Number of rows gone over: 374000 out of 847.237
Number of rows gone over: 375000 out of 847.237
Number of rows gone over: 376000 out of 847.237
Number of rows gone over: 377000 out of 847.237
Number of rows gone over: 378000 out of 847.237
Number of rows gone over: 379000 out of 847.237
Number of rows gone over: 380000 out of 847.237
Number of rows gone over: 381000 out of 847.237
Number of rows gone over: 382000 out of 847.237
Number of rows gone over: 383000 out of 847.237
Number of rows gone over: 384000 out of 847.237
Number of rows gone over: 385000 out of 847.237
Number of rows gone over: 386000 out of 847.237
Number of rows gone over: 387000 out of 847.237
Number of rows gone over: 388000 out of 847.237
Number of rows gone over: 389000 out of 847.237
Number of rows gone over: 390000 out of 847.237
Number of rows gone over: 391000 out of 847.237
Number of rows gone over: 392000 out of 847.237
Number of rows gone over: 393000 out of 847.237
Number of rows gone over: 394000 out of 847.237
Number of rows gone over: 395000 out of 847.237
Number of rows gone over: 396000 out of 847.237
Number of rows gone over: 397000 out of 847.237
Number of rows gone over: 398000 out of 847.237
Number of rows gone over: 399000 out of 847.237
Number of rows gone over: 400000 out of 847.237
Number of rows gone over: 401000 out of 847.237
Number of rows gone over: 402000 out of 847.237
Number of rows gone over: 403000 out of 847.237
Number of rows gone over: 404000 out of 847.237
Number of rows gone over: 405000 out of 847.237
Number of rows gone over: 406000 out of 847.237
Number of rows gone over: 407000 out of 847.237
Number of rows gone over: 408000 out of 847.237
Number of rows gone over: 409000 out of 847.237
Number of rows gone over: 410000 out of 847.237
Number of rows gone over: 411000 out of 847.237
Number of rows gone over: 412000 out of 847.237
Number of rows gone over: 413000 out of 847.237
Number of rows gone over: 414000 out of 847.237
Number of rows gone over: 415000 out of 847.237
Number of rows gone over: 416000 out of 847.237
Number of rows gone over: 417000 out of 847.237
Number of rows gone over: 418000 out of 847.237

In [99]:
data_salesdata['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '2022-11-08 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '2022-09-14 00:00:00',
  'zipCode': 8471,
  'city': 'Sabro'}]

In [106]:
data_salesdata.iloc[1]

RowID_MAIN_boliga_ROW_ID_unitID                                 9133416f-191b-496e-88bb-62b3a46a370a
salesInfo_isSalesValid                                                                          True
salesInfo_handoverCode                                                                           1.0
salesInfo_handoverName                                                                Alm. frit salg
salesInfo_deedIssueDate                                                                   2023-01-18
salesInfo_price                                                                            3050000.0
salesInfo_recalculationDate                                                               2023-11-08
salesInfo_rebuildYear                                                                         2008.0
unique_sales_ID                                                                                    2
salesInfo_year_of_sale                                                                          2023
EvaluationInfo_evaluationYear                                                                 2022.0
EvaluationInfo_lastChange                                                                 2022-10-01
EvaluationInfo_propertyValue                                                               2250000.0
EvaluationInfo_landValue                                                                    375000.0
EvaluationInfo_deductionSum                                                                 161300.0
EvaluationInfo_usage                                                                Beboelsesejendom
EvaluationInfo_residentialUnits                                                                  1.0
EvaluationInfo_propertyValueArea                                                           2250000.0
EvaluationInfo_rebuildYear                                                                    2008.0
EvaluationInfo_areaSize                                                                        562.0
RAW_dictionary_previousEstates                     [{'estateId': 1931979, 'estateAddress': 'Rønne...
salesInfo_ALL_sales_dates_by_main_ID               ['2007-09-12', '2023-01-18', '2017-12-11', '20...
salesInfo_OTHER_sales_dates_by_main_ID                    ['2007-09-12', '2017-12-11', '2007-09-27']
salesInfo_OLDER_sales_dates_by_main_ID                    ['2007-09-12', '2017-12-11', '2007-09-27']
Relevant_Estates_ads_for_transaction               [{'estateId': 1931979, 'estateAddress': 'Rønne...
Estate_info_Number_of_estates_Ads                                                                  2
Estate_info_Number_of_dayes_between_ads                                                          294
Estate_Info_NEWEST_Ad_askingPrice_lastAd                                                   3248000.0
Estate_Info_NEWEST_Ad_daysForSale                                                               52.0
Estate_Info_NEWEST_Ad_lastSeen_Date                                              2022-11-08 00:00:00
Estate_Info_OLDEST_Ad_askingPrice_firstAd                                                  3348000.0
Estate_Info_OLDEST_Ad_daysForSale                                                              242.0
Estate_Info_OLDEST_Ad_lastSeen_Date                                              2022-09-14 00:00:00
Estate_Info_Day_Difference_OLDEST_and_NEWEST_AD                                                 55.0
Name: 1, dtype: object

### =======================> creating : Number_of_days_between_ads

In [105]:
data_salesdata['Estate_Info_NEWEST_Ad_lastSeen_Date'] = pd.to_datetime(data_salesdata['Estate_Info_NEWEST_Ad_lastSeen_Date'])
data_salesdata['Estate_Info_OLDEST_Ad_lastSeen_Date'] = pd.to_datetime(data_salesdata['Estate_Info_OLDEST_Ad_lastSeen_Date'])

# Create a new column 'Day_Difference'
data_salesdata['Estate_Info_Day_Difference_OLDEST_and_NEWEST_AD'] = (data_salesdata['Estate_Info_NEWEST_Ad_lastSeen_Date'] - data_salesdata['Estate_Info_OLDEST_Ad_lastSeen_Date']).dt.days

In [108]:
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 34 columns):
 #   Column                                           Non-Null Count    Dtype
---  ------                                           --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID                  2623340 non-null  object
 1   salesInfo_isSalesValid                           2623340 non-null  bool
 2   salesInfo_handoverCode                           2623340 non-null  float64
 3   salesInfo_handoverName                           2623340 non-null  object
 4   salesInfo_deedIssueDate                          2623340 non-null  object
 5   salesInfo_price                                  2623340 non-null  float64
 6   salesInfo_recalculationDate                      2623340 non-null  object
 7   salesInfo_rebuildYear                            2623340 non-null  float64
 8   unique_sales_ID                                  2623340 non-null  int64
 9   salesInfo_year_of_sale                           2623340 non-null  int64
 10  EvaluationInfo_evaluationYear                    1364441 non-null  float64
 11  EvaluationInfo_lastChange                        1364441 non-null  object
 12  EvaluationInfo_propertyValue                     1364441 non-null  float64
 13  EvaluationInfo_landValue                         1364441 non-null  float64
 14  EvaluationInfo_deductionSum                      1364441 non-null  float64
 15  EvaluationInfo_usage                             1364441 non-null  object
 16  EvaluationInfo_residentialUnits                  1364441 non-null  float64
 17  EvaluationInfo_propertyValueArea                 1364441 non-null  float64
 18  EvaluationInfo_rebuildYear                       1364441 non-null  float64
 19  EvaluationInfo_areaSize                          1364441 non-null  float64
 20  RAW_dictionary_previousEstates                   1790826 non-null  object
 21  salesInfo_ALL_sales_dates_by_main_ID             2623340 non-null  object
 22  salesInfo_OTHER_sales_dates_by_main_ID           2623340 non-null  object
 23  salesInfo_OLDER_sales_dates_by_main_ID           2623340 non-null  object
 24  Relevant_Estates_ads_for_transaction             847237 non-null   object
 25  Estate_info_Number_of_estates_Ads                2623340 non-null  int64
 26  Estate_info_Number_of_dayes_between_ads          2623340 non-null  int64
 27  Estate_Info_NEWEST_Ad_askingPrice_lastAd         847237 non-null   float64
 28  Estate_Info_NEWEST_Ad_daysForSale                847237 non-null   float64
 29  Estate_Info_NEWEST_Ad_lastSeen_Date              847237 non-null   datetime64[ns]
 30  Estate_Info_OLDEST_Ad_askingPrice_firstAd        847237 non-null   float64
 31  Estate_Info_OLDEST_Ad_daysForSale                847237 non-null   float64
 32  Estate_Info_OLDEST_Ad_lastSeen_Date              847237 non-null   datetime64[ns]
 33  Estate_Info_Day_Difference_OLDEST_and_NEWEST_AD  847237 non-null   float64
dtypes: bool(1), datetime64[ns](2), float64(16), int64(4), object(11)
memory usage: 663.0+ MB

# ---------------------------------------------- save RESULT !

In [ ]:
path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_2_mrgin_newSales_with_Estate_ads\Boliga_salesData_SalesTransactions_with_evaluation_and_estate_info_34col_2623340rows.csv'
data_salesdata.to_csv(path, encoding='utf-8', index=False)

In [ ]:
del oldest_dictionary_estate, newest_dictionary_estate, NEWESTAd_askingPrice_lastAd, NEWESTAd_askingPrice_lastAd

In [ ]:
1+1

## note: need to convert RAW_dictionary_previousEstate again to a dictionary object

In [6]:
data_salesdata['RAW_dictionary_previousEstates'] = data_salesdata['RAW_dictionary_previousEstates'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x!='[]' and x!='' and x is not None else x)

### Also need to convert salesInfo_OLDER_sales_dates_by_main_ID  to a list  (now its a string)

In [28]:
data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID']

0                                                  []
1          ['2007-09-12', '2017-12-11', '2007-09-27']
2                        ['2007-09-12', '2007-09-27']
3                                      ['2007-09-12']
4                                                  []
                              ...
2623335                                ['1899-12-30']
2623336                                            []
2623337                                ['1899-12-30']
2623338                                ['1899-12-30']
2623339                                            []
Name: salesInfo_OLDER_sales_dates_by_main_ID, Length: 2623340, dtype: object

In [29]:
data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'] = data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) and x!='' and x is not None else x) #and x!='[]'

In [30]:
data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'][1]

['2007-09-12', '2017-12-11', '2007-09-27']

#### __ convert Salesinfo_DeedIssueDate to datetime

In [9]:
data_salesdata['salesInfo_deedIssueDate'] = pd.to_datetime(data_salesdata['salesInfo_deedIssueDate'])#, format="%Y-%m-%d")#.dt.date

In [10]:
data_salesdata['salesInfo_deedIssueDate'][0]

Timestamp('2007-09-12 00:00:00')

In [11]:
data_salesdata['RAW_dictionary_previousEstates'][0][0]['lastSeen']

'8. nov. 2022'

In [12]:
pd.to_datetime(data_salesdata['RAW_dictionary_previousEstates'][0][0]['lastSeen']) > data_salesdata['salesInfo_deedIssueDate'][0]

True

## ---- Replace '[]' with None in column RAW_dictionary_previousEstates

In [ ]:
data_salesdata['RAW_dictionary_previousEstates'] = data_salesdata['RAW_dictionary_previousEstates'].replace('[]',None)

In [25]:
data_salesdata['RAW_dictionary_previousEstates']

0          [{'estateId': 1931979, 'estateAddress': 'Rønne...
1          [{'estateId': 1931979, 'estateAddress': 'Rønne...
2          [{'estateId': 1931979, 'estateAddress': 'Rønne...
3          [{'estateId': 1931979, 'estateAddress': 'Rønne...
4          [{'estateId': 1988849, 'estateAddress': 'Ibsgå...
                                 ...
2623335                                                 None
2623336                                                 None
2623337                                                 None
2623338                                                 None
2623339                                                 None
Name: RAW_dictionary_previousEstates, Length: 2623340, dtype: object

### --- convert "lastSeen" in dictionaries as datetime

#### ---- TESTing

In [19]:
# Sample DataFrame with a column of dictionaries
data = {'RAW_dictionary_previousEstates': [
    None,
    [{'housetype':'bingo','lastSeen': '2022-01-01', 'status': 'active'}, {'lastSeen': '2022-02-15', 'status': 'inactive'}],
    [{'lastSeen': '2021-12-10', 'status': 'expired'}, {'lastSeen': '2022-03-05', 'status': 'active'}],
    None,
    [{'housetype':'bingo', 'lastSeen': '2021-11-20', 'status': 'inactive'}],
]}

test = pd.DataFrame(data)
test['RAW_dictionary_previousEstates']

0                                                 None
1    [{'housetype': 'bingo', 'lastSeen': '2022-01-0...
2    [{'lastSeen': '2021-12-10', 'status': 'expired...
3                                                 None
4    [{'housetype': 'bingo', 'lastSeen': '2021-11-2...
Name: RAW_dictionary_previousEstates, dtype: object

In [20]:
test['RAW_dictionary_previousEstates'] = test['RAW_dictionary_previousEstates'].apply(lambda x: None if x is None else [{k: pd.to_datetime(v) if k == 'lastSeen' else v for k, v in d.items()} for d in x])

In [14]:
test['RAW_dictionary_previousEstates'][1]

NameError: name 'test' is not defined

In [16]:
data_salesdata['RAW_dictionary_previousEstates'][0]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': '8. nov. 2022',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': '14. sep. 2022',
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1352628,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 26,
  'salesPrice': 2975000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1352/1352628.jpg',
  'lastSeen': '31. aug. 2017',
  'zipCode': 8471,
  'city': 'Sabro'}]

### ---- main : change lastSeen  to a  datetime object in the dictionary

In [17]:
data_salesdata['RAW_dictionary_previousEstates'] = data_salesdata['RAW_dictionary_previousEstates'].apply(lambda x: None if x is None or x == '[]' or x =='' else [{k: pd.to_datetime(v) if k == 'lastSeen' else v for k, v in d.items()} for d in x])

In [19]:
data_salesdata['RAW_dictionary_previousEstates'][1565161]

[{'estateId': 1136274,
  'estateAddress': 'Dronningensgade 3B',
  'daysForSale': 291,
  'salesPrice': 6150000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1136/1136274.jpg',
  'lastSeen': Timestamp('2016-06-29 00:00:00'),
  'zipCode': 1420,
  'city': 'København K'},
 {'estateId': 1006630,
  'estateAddress': 'Dronningensgade 3B, 1.',
  'daysForSale': 403,
  'salesPrice': 6395000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1006/1006630.jpg',
  'lastSeen': Timestamp('2015-08-31 00:00:00'),
  'zipCode': 1420,
  'city': 'København K'}]

In [33]:
data_salesdata['salesInfo_deedIssueDate'][654]

Timestamp('2012-02-01 00:00:00')

### Before running the code to create Relevant_Estates_ads_for_transaction I will first drop all unnecessary columns that I will later merge with

In [38]:
columns_to_drop = [
'salesInfo_ALL_sales_dates_by_main_ID'    
]

data_salesdata.drop(columns=columns_to_drop, inplace=True)

In [39]:
data_salesdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 7 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         object
 1   salesInfo_deedIssueDate                 datetime64[ns]
 2   salesInfo_recalculationDate             object
 3   unique_sales_ID                         int64
 4   RAW_dictionary_previousEstates          object
 5   salesInfo_OTHER_sales_dates_by_main_ID  object
 6   salesInfo_OLDER_sales_dates_by_main_ID  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 140.1+ MB

### ---- create the column  "Relevant_Estates_ads_for_transaction"

In [32]:
# import pandas as pd
import numpy as np

# def vectorized_filter_relevant_estates(deed_issue_date, older_sales_dates, estates_list):
#     relevant_estates = []

#     # Check if 'RAW_dictionary_previousEstates' is a list
#     if isinstance(estates_list, list):
#         # Iterate over each dictionary in the list using NumPy vectorized operations
#         for estate_dict in estates_list:
#             # Extract 'lastSeen' date from the dictionary
#             last_seen_date = pd.to_datetime(estate_dict.get('lastSeen', ''))
            
#             # Check conditions for relevant estate
#             if last_seen_date < deed_issue_date:
#                 if older_sales_dates != '[]' and older_sales_dates !='' and isinstance(older_sales_dates,list):
#                     if np.all(np.array([last_seen_date > pd.to_datetime(date) for date in older_sales_dates])):
#                         relevant_estates.append(estate_dict)
#                 else:
#                     relevant_estates.append(estate_dict)
                    
    
#     return relevant_estates

# # Apply the vectorized function to create the new column
# data_salesdata['Relevant_Estates_ads_for_transaction'] = np.vectorize(vectorized_filter_relevant_estates)(
#     data_salesdata['salesInfo_deedIssueDate'],
#     data_salesdata['salesInfo_OLDER_sales_dates_by_main_ID'],
#     data_salesdata['RAW_dictionary_previousEstates']
# )




def filter_relevant_estates(row):
    deed_issue_date = row['salesInfo_deedIssueDate']
    older_sales_dates = row['salesInfo_OLDER_sales_dates_by_main_ID']
    estates_list = row['RAW_dictionary_previousEstates']

    relevant_estates = []

    # Check if 'RAW_dictionary_previousEstates' is a list
    if isinstance(estates_list, list):
        # Iterate over each dictionary in the list
        for estate_dict in estates_list:
            # Extract 'lastSeen' date from the dictionary
            last_seen_date = pd.to_datetime(estate_dict.get('lastSeen', ''))
            
            # Check conditions for relevant estate
            if last_seen_date < deed_issue_date:
                if older_sales_dates != '[]' and older_sales_dates != '' and isinstance(older_sales_dates, list):
                    if np.all(np.array([last_seen_date > pd.to_datetime(date) for date in older_sales_dates if pd.to_datetime(date, errors='coerce') is not pd.NaT])):
                        relevant_estates.append(estate_dict)
                else:
                    relevant_estates.append(estate_dict)

    return relevant_estates

# Apply the function using apply and axis=1
data_salesdata['Relevant_Estates_ads_for_transaction'] = data_salesdata.apply(filter_relevant_estates, axis=1)

KeyboardInterrupt:

In [21]:

len(data_salesdata['Relevant_Estates_ads_for_transaction'][0])

0

In [62]:
filtered_data = data_salesdata[data_salesdata['Relevant_Estates_ads_for_transaction'].apply(len) > 0]
len(filtered_data)

929180

### SAVE RESULT !!!!

In [68]:
path = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_2_mrgin_newSales_with_Estate_ads\setup\setup_Relevant_Estates_ads_for_transaction_step_2.csv'
data_salesdata.to_csv(path,encoding='utf-8', index=False)

In [67]:
data_salesdata.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623340 entries, 0 to 2623339
Data columns (total 8 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   RowID_MAIN_boliga_ROW_ID_unitID         2623340 non-null  object
 1   salesInfo_deedIssueDate                 2623340 non-null  datetime64[ns]
 2   salesInfo_recalculationDate             2623340 non-null  object
 3   unique_sales_ID                         2623340 non-null  int64
 4   RAW_dictionary_previousEstates          1790826 non-null  object
 5   salesInfo_OTHER_sales_dates_by_main_ID  2623340 non-null  object
 6   salesInfo_OLDER_sales_dates_by_main_ID  2623340 non-null  object
 7   Relevant_Estates_ads_for_transaction    2623340 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 160.1+ MB

##### --------------------------- check result

In [ ]:
data_salesdata['Relevant_Estates_ads_for_transaction']

In [33]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['Relevant_Estates_ads_for_transaction']

0                                                   []
1    [{'estateId': 1931979, 'estateAddress': 'Rønne...
2    [{'estateId': 1352628, 'estateAddress': 'Rønne...
3                                                   []
Name: Relevant_Estates_ads_for_transaction, dtype: object

In [34]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['Relevant_Estates_ads_for_transaction'][1]

[{'estateId': 1931979,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 52,
  'salesPrice': 3248000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1931/1931979.jpg',
  'lastSeen': Timestamp('2022-11-08 00:00:00'),
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1857402,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 242,
  'salesPrice': 3348000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1857/1857402.jpg',
  'lastSeen': Timestamp('2022-09-14 00:00:00'),
  'zipCode': 8471,
  'city': 'Sabro'},
 {'estateId': 1352628,
  'estateAddress': 'Rønnevangen 1',
  'daysForSale': 26,
  'salesPrice': 2975000,
  'imageUrl': 'https://i.boliga.org/dk/550x/1352/1352628.jpg',
  'lastSeen': Timestamp('2017-08-31 00:00:00'),
  'zipCode': 8471,
  'city': 'Sabro'}]

In [73]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_deedIssueDate']

0   2007-09-12
1   2023-01-18
2   2017-12-11
3   2007-09-27
Name: salesInfo_deedIssueDate, dtype: datetime64[ns]

In [24]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_OLDER_sales_dates_by_main_ID']

0                                            []
1    ['2007-09-12', '2017-12-11', '2007-09-27']
2                  ['2007-09-12', '2007-09-27']
3                                ['2007-09-12']
Name: salesInfo_OLDER_sales_dates_by_main_ID, dtype: object

In [27]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_OLDER_sales_dates_by_main_ID'][2])

str

In [81]:
pd.to_datetime('2017-12-11') > pd.to_datetime('2017-08-31')

True

In [ ]:
print(data_salesdata.iloc[0])

In [ ]:
def remove_current_date(row):
    current_date = row['current_date']
    dates_list = row['dates_list']
    
    if current_date in dates_list:
        dates_list.remove(current_date)
    
    return dates_list

# Apply the function to each row
data_salesdata['salesInfo_OTHER_sales_dates_by_main_ID'] = data_salesdata.apply(remove_current_date, axis=1)

In [ ]:
# Assuming you have a DataFrame named 'df' with columns 'current_date' and 'dates_list'
data = {'current_date': ['2022-01-02', '2022-01-05', '2022-01-01'],
        'dates_list': [['2022-01-01', '2022-01-02', '2022-01-03'], ['2022-01-04', '2022-01-05', '2022-01-06'], ['2022-01-01', '2022-01-02']]}
df = pd.DataFrame(data)
df

In [ ]:

# Function to remove 'current_date' from 'dates_list' if it exists
def remove_current_date(row):
    current_date = row['current_date']
    dates_list = row['dates_list']
    
    if current_date in dates_list:
        dates_list.remove(current_date)
    
    return dates_list

# Apply the function to each row
df['dates_list'] = df.apply(remove_current_date, axis=1)

# Display the result
print(df)

In [ ]:
data = {'ID': [1, 2, 1, 3, 2, 3],
        'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06']}
original_df = pd.DataFrame(data)

# Group by 'ID' and aggregate dates into a list
grouped_df = original_df.groupby('ID')['date'].agg(list).reset_index()

# Rename columns if needed
grouped_df.columns = ['ID', 'date_list']

In [ ]:
original_df

In [ ]:
grouped_df

In [ ]:
data_salesdata.groupby('RowID_MAIN_boliga_ROW_ID_unitID')['salesInfo_deedIssueDate']

In [ ]:
# Create a new column 'list_of_dates' containing a list of dates for each ID
data_salesdata['Property_Older_transactions_dates'] = data_salesdata.groupby('RowID_MAIN_boliga_ROW_ID_unitID')['salesInfo_deedIssueDate'].transform(lambda x: x.tolist())
print('DONE')

In [ ]:
data_salesdata['Property_Older_transactions_dates']

In [ ]:
# Remove the date equal to the row date from the list
data_salesdata['Property_Older_transactions_dates'] = data_salesdata.apply(lambda row: [d for d in row['Property_Older_transactions_dates'] if d != row['salesInfo_deedIssueDate']], axis=1)
print('DONE')

In [ ]:

# Remove dates that are newer than the row date
data_salesdata['Property_Older_transactions_dates'] = data_salesdata.apply(lambda row: [d for d in row['list_of_dates'] if d <= row['salesInfo_deedIssueDate']], axis=1)
print('DONE')

In [ ]:
# Sort the DataFrame by property ID and date
data_salesdata.sort_values(by=['RowID_MAIN_boliga_ROW_ID_unitID', 'salesInfo_deedIssueDate'], inplace=True)

# Create a new column to store lists of older dates
data_salesdata['Property_Older_transactions_dates'] = None

In [ ]:
# counter = 0
# # Iterate through each row
# for index, row in data_salesdata.iterrows():
#     counter+=1
#     print(counter)
#     current_id = row['RowID_MAIN_boliga_ROW_ID_unitID']
#     current_date = row['salesInfo_deedIssueDate']
    
#     # Filter rows with the same ID and older dates
#     older_dates = data_salesdata[(data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == current_id) &
#                                  (data_salesdata['salesInfo_deedIssueDate'] < current_date)]['salesInfo_deedIssueDate'].tolist()
    
#     # Update the 'older_dates' column with the list of older dates
#     data_salesdata.at[index, 'Property_Older_transactions_dates'] = older_dates

# # If needed, you can sort the DataFrame back to its original order
# data_salesdata.sort_index(inplace=True)


################################################## USING ProcessPoolExecutor...... NOT GOOD 

# from concurrent.futures import ProcessPoolExecutor
# import pandas as pd
# import logging

# # Set up logging
# logging.basicConfig(level=logging.INFO)

# counter = 0

# def process_row(index, row, data_salesdata):
#     global counter
#     counter += 1
#     logging.info(f"Processing row {counter}")

#     current_id = row['RowID_MAIN_boliga_ROW_ID_unitID']
#     current_date = row['salesInfo_deedIssueDate']
    
#     # Filter rows with the same ID and older dates
#     older_dates = data_salesdata[(data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == current_id) &
#                                  (data_salesdata['salesInfo_deedIssueDate'] < current_date)]['salesInfo_deedIssueDate'].tolist()
    
#     # Update the 'older_dates' column with the list of older dates
#     data_salesdata.at[index, 'older_dates'] = older_dates



# Use ProcessPoolExecutor for parallel processing
with ProcessPoolExecutor() as executor:
    futures = []
    for index, row in data_salesdata.iterrows():
        future = executor.submit(process_row, index, row, data_salesdata)
        futures.append(future)

    # Wait for all futures to complete
    for future in futures:
        future.result()

# If needed, you can sort the DataFrame back to its original order
data_salesdata.sort_index(inplace=True)








################################################## USING THREADPOOL...... NOT GOOD 
# from concurrent.futures import ThreadPoolExecutor
# import threading


# counter=0
# counter_lock = threading.Lock()

# def process_row(index, row, data_salesdata):
#     global counter
#     with counter_lock:
#         counter += 1
#         print(f"Processing row {counter}")


#     current_id = row['RowID_MAIN_boliga_ROW_ID_unitID']
#     current_date = row['salesInfo_deedIssueDate']
    
#     # Filter rows with the same ID and older dates
#     older_dates = data_salesdata[(data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == current_id) &
#                                  (data_salesdata['salesInfo_deedIssueDate'] < current_date)]['salesInfo_deedIssueDate'].tolist()
    
#     # Update the 'older_dates' column with the list of older dates
#     data_salesdata.at[index, 'older_dates'] = older_dates

# # Use ThreadPoolExecutor for parallel processing
# with ThreadPoolExecutor() as executor:
#     futures = []
#     for index, row in data_salesdata.iterrows():
#         future = executor.submit(process_row, index, row, data_salesdata)
#         futures.append(future)

#     # Wait for all futures to complete
#     for future in futures:
#         future.result()

# # If needed, you can sort the DataFrame back to its original order
# data_salesdata.sort_index(inplace=True)

In [ ]:
316 2,3min

In [ ]:
test = []

if test: 
    print('okj')

In [ ]:
import pandas as pd

# Assuming your DataFrame is named df
# If not, replace df with the actual DataFrame name


# Create an empty list to store the relevant estates for each row
relevant_estates_list = []


counter = 0
# Iterate through each row in the DataFrame
for index, row in data_salesdata.iterrows():
    counter +=1
    # if counter%1000==0:
    #     print(f'--------> row nr. {counter} out of 2623340')
    print(f'--------> row nr. {counter} out of 2623340')

    current_id = row['RowID_MAIN_boliga_ROW_ID_unitID']
    current_date = row['salesInfo_deedIssueDate']
    current_advertisements = row['RAW_dictionary_previousEstates']

    print('CURRNET DATE:',current_date)
    display(current_advertisements)

    if not current_advertisements:
        relevant_estates_list.append([])
    else:
        # Filter relevant advertisements based on the criteria
        relevant_advertisements = [
            ad for ad in current_advertisements
            if 'lastSeen' in ad and pd.to_datetime(ad['lastSeen'].replace('okt', 'oct').replace('maj', 'may')) < current_date
        ]

        # Check if the relevant advertisements are newer than others for the same property
        if relevant_advertisements:
            previous_transactions = data_salesdata[
                (data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == current_id) &
                (data_salesdata['salesInfo_deedIssueDate'] < current_date)
            ]

            # Check if previous_transactions is not empty before finding the maximum date
            if not previous_transactions.empty:
                if not any(pd.to_datetime(ad['lastSeen'].replace('okt', 'oct').replace('maj', 'may')) > previous_transactions['salesInfo_deedIssueDate'] for ad in relevant_advertisements):
                    relevant_estates_list.append(relevant_advertisements)
                    print('RELEVANT ADS')
                    display(relevant_advertisements)
                else:
                    relevant_estates_list.append([])
            else:
                relevant_estates_list.append([])
        else:
            relevant_estates_list.append([])

# Add the new list to the DataFrame
data_salesdata['Relevant_estates_to_transaction_list'] = relevant_estates_list

In [ ]:
# ---- cahnge month names so datetime can convert it correctly
data_previousEstate['PreviousEstate_lastSeen'] = data_previousEstate['PreviousEstate_lastSeen'].str.replace('okt', 'oct')
data_previousEstate['PreviousEstate_lastSeen'] = data_previousEstate['PreviousEstate_lastSeen'].str.replace('maj', 'may')

# convert column to date object
data_previousEstate['PreviousEstate_lastSeen'] = pd.to_datetime(data_previousEstate['PreviousEstate_lastSeen'], format="%d. %b. %Y")#.dt.date

type(data_previousEstate['PreviousEstate_lastSeen'][0])

# _______________ read in the NEW SALES data (Sales+evaluation)______________________________________

In [ ]:
path_sales = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_1_mergin_Sales_transactions_with_evaluation_data\Boliga_salesData_SalesTransactions_with_evaluation_2623340rows_20columns.csv'
data_salesdata = pd.read_csv(path_sales, encoding = 'utf-8', low_memory=False) #,nrows=1000)
data_salesdata.info(verbose=True, show_counts=True)

In [ ]:
len(data_salesdata['unique_sales_ID'].unique())

### --- -CREATE UNIQUE ID column for the sales data

In [ ]:
data_salesdata['unique_sales_ID'] = range(1, len(data_salesdata) + 1)

In [ ]:
data_salesdata.info(verbose=True, show_counts=True)

### ---- convert salesInfo_deedIssueDate to date object with only day,month and year  


### NOTE !!!!!!!!!!!!!!!! THE SEEMS TO BE AN ERROR IN THE YEAR OF THE DATA YEARS WITH 2000 AND 1999 SEEM TO GET THE YEAR 1899 IN THE salesInfo_deedIssueDate - BETTER TO GET THE YEAR FROM RECALCULATIONdATE

In [ ]:
data_salesdata['salesInfo_deedIssueDate'] = pd.to_datetime(data_salesdata['salesInfo_deedIssueDate'], format="%Y-%m-%d")#.dt.date
type(data_salesdata['salesInfo_deedIssueDate'][0])

### -------- convert salesInfo_recalculationDate to date object as well

In [ ]:
data_salesdata['salesInfo_recalculationDate'] = pd.to_datetime(data_salesdata['salesInfo_recalculationDate'], format="%Y-%m-%d",errors='coerce')#.dt.date
type(data_salesdata['salesInfo_recalculationDate'][0])

### ------- REMOVE NON VALID SALES

In [ ]:
data_salesdata['salesInfo_isSalesValid'].value_counts()

In [ ]:
# data_salesInfo = data_salesInfo[data_salesInfo['salesInfo_isSalesValid']==True]
# data_salesInfo = data_salesInfo.reset_index(dropbbb=True)
# data_salesInfo.info(verbose=True, show_counts=True)

# _______________ read in the Previous Evaluation data (with the asking price)______________________________________

In [ ]:
path_ESTATE=r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\14_PreviousEstate\Ready\Boliga_propertySales_previousEstate_READY.csv'
data_previousEstate = pd.read_csv(path_ESTATE, encoding = 'utf-8', low_memory=False) #,nrows=1000)
data_previousEstate.info(verbose=True, show_counts=True)

#### ---- convert column "PreviousEstate_lastSeen" as date object

In [ ]:
# ---- cahnge month names so datetime can convert it correctly
data_previousEstate['PreviousEstate_lastSeen'] = data_previousEstate['PreviousEstate_lastSeen'].str.replace('okt', 'oct')
data_previousEstate['PreviousEstate_lastSeen'] = data_previousEstate['PreviousEstate_lastSeen'].str.replace('maj', 'may')

# convert column to date object
data_previousEstate['PreviousEstate_lastSeen'] = pd.to_datetime(data_previousEstate['PreviousEstate_lastSeen'], format="%d. %b. %Y")#.dt.date

type(data_previousEstate['PreviousEstate_lastSeen'][0])

In [ ]:
# show result
data_previousEstate['PreviousEstate_lastSeen']

# ______________________________________________________ The PLAN: 

## ---- First: there are some properties which have maybe 2 or more ads/estates which technicall belongs to the same final transaction sale. e.g. property A is put on market in Jan then in mars they take it of and in august they put in on again and finally gets sold in December.... therefore I need to account for this - also this can overlap over 2 years instead of happening within a single year 


# the plan is as follows: 
* Create following columns in dataframe: data_salesdata
    * Number_of_estates_ads
    * Number_of_days_between_ads
    * Total_daysForSale
    * LastAd_askingPrice_lastAd
    * FirstAd_askingPrice_firstAd
    * LastAd_daysForSale
    * FirstAd_daysForSale
    * LastAd_lastSeen_Date
    * FirstAd_lastSeen_Date

* LOOP over each row in data_salesdata
    * check if Main ID exists in the main ID in data_previousEstate dataframe
    * if yes then:
        * get all rows in data_previousEstate that match the main ID 
        * also get the dates of all sales in data_salesdata
        * LOOP OVER each filtered row: 
            * make sure that the date of sale is newer then all the other dates of Estate 
            * then make sure that the date of the Estate is NEWER than all the previous Sales
            * if that works then:
                * add values to columns

In [ ]:
# drop_columns = [
#     'PreviousEstate_Number_of_estates_ads', 
#     'PreviousEstate_Number_of_days_between_ads', 
#     'PreviousEstate_Total_daysForSale', 
#     'PreviousEstate_LastAd_askingPrice_lastAd', 
#     'PreviousEstate_FirstAd_askingPrice_firstAd', 
#     'PreviousEstate_LastAd_daysForSale', 
#     'PreviousEstate_FirstAd_daysForSale', 
#     'PreviousEstate_LastAd_lastSeen_Date', 
#     'PreviousEstate_FirstAd_lastSeen_Date', 
# ]

# data_salesdata.drop(columns=drop_columns, inplace=True)

### ---- Create new columns :

In [ ]:
data_salesdata['PreviousEstate_Number_of_estates_ads'] = None
data_salesdata['PreviousEstate_Number_of_days_between_ads'] = None
data_salesdata['PreviousEstate_Total_daysForSale'] = None
data_salesdata['PreviousEstate_NEWEST_Ad_askingPrice_lastAd'] = None
data_salesdata['PreviousEstate_OLDEST_Ad_askingPrice_firstAd'] = None
data_salesdata['PreviousEstate_NEWEST_Ad_daysForSale'] = None
data_salesdata['PreviousEstate_OLDEST_Ad_daysForSale'] = None
data_salesdata['PreviousEstate_NEWEST_Ad_lastSeen_Date'] = None
data_salesdata['PreviousEstate_OLDEST_Ad_lastSeen_Date'] = None

In [ ]:
# Extract unique IDs from DataFrame B
unique_ids_b = data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'].unique()

# Use isin to filter DataFrame A based on IDs in DataFrame B
filtered_data_salesdata = data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'].isin(unique_ids_b)]

# Display the resulting DataFrame
filtered_data_salesdata.info()

# ----- trying to make the code more efficient with tuples and apply

In [ ]:

def get_Estates(subset_data_previousEstate):
    Total_daysForSale = 0
    Number_of_estates_ads = 0
    estate_dataframe_index_list_that_belong_to_sale = []

     for index_B, row_B in subset_data_previousEstate.iterrows():
        row_estate_date = row_B['PreviousEstate_lastSeen']

        # Check if the condition is fulfilled
        
        if (row_estate_date < row_sale_date) and all(row_estate_date > date for date in dates_from_salesdata):
            # print('BINGO')
            Number_of_estates_ads+=1
            Total_daysForSale += row_B['PreviousEstate_daysForSale']

            # create tuple with date (lastSeen) and date and asking price
            estate_dataframe_index_list_that_belong_to_sale.append(index_B)


def start(tuple_item_sales, list_of_tuples_ESTATE, list_of_tuples_SALES):
    global Sales_index_counter

    # keep track of things
    Sales_index_counter +=1 
    if Sales_index_counter%10==0:
        print(f'-----------------> Nr. rows done: {Sales_index_counter} out of 2.623.340')

    # get 2 key variables of the row
    id_code = tuple_item[]
    row_sale_date = tuple_item[4] 
    unique_sales_ID_row = tuple_item[8]

    ## Get subset of DataFrame B for the current ID in Sales data as list of tuples
    subset_data_previousEstate = [tpl for tpl in list_of_tuples_ESTATE if tpl[0] == id_code]


    # Create a list of all sales dates from DataFrame data_salesdata with the same ID excluding the current date
    dates_from_salesdata_tuples = [
    tpl[4] for tpl in list_of_tuples_SALES if tpl[0] == id_code and tpl[4] < row_sale_date
    ]
    # Remove tuples with dates newer than row_sale_date
    # dates_from_salesdata_tuples = [tpl for tpl in dates_from_salesdata_tuples if tpl[4] <= row_sale_date]

    # create variables to add to dataframe
    # Number_of_estates_ads = 0
    # Total_daysForSale = 0
    NEWEST_Ad_askingPrice_lastAd = 0
    OLDEST_Ad_askingPrice_firstAd = 0
    NEWEST_Ad_daysForSale = 0
    OLDEST_Ad_daysForSale = 0
    NEWEST_Ad_lastSeen_Date = 0
    OLDEST_Ad_lastSeen_Date = 0
    # estate_dataframe_index_list_that_belong_to_sale = []


    # GO OVER ALL THE ESTATES OF THE PROPERTY AND CHECK IF Salesprice matches any of the Estates
    Number_of_estates_ads,Total_daysForSale, estate_dataframe_index_list_that_belong_to_sale =  get_Estates(subset_data_previousEstate)

In [ ]:
################# main function : 
list_of_tuples_ESTATE =  list(data_previousEstate.to_records(index=False))

list_of_tuples_SALES =  list(filtered_data_salesdata.to_records(index=False))

In [ ]:
list_of_tuples[0][0]

### ----- run the program  --- BASIC FOR-LOOP

In [ ]:
from datetime import datetime


Sales_index_counter = 0 
# Loop over each row in Salesdata
for index_data_salesdata, row_data_salesdata in data_salesdata.iterrows():
    Sales_index_counter +=1 
    if Sales_index_counter%10==0:
        print(f'-----------------> Nr. rows done: {Sales_index_counter} out of 2.623.340')
     
    # get key variables:
    id_code = row_data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']
    row_sale_date = row_data_salesdata['salesInfo_deedIssueDate'] # i think its already a date variable before hand 

    # if the ID exists in Estate dataframe then carry ON: 
    if row_data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] in data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'].values:
        # print('############################ PRINTING: Row for Sales data')
        # print(row_data_salesdata)
        # print()
        # print()
        # print('=================== PRINTING salesInfo_deedIssueDate of ROW:')
        # print(row_sale_date)
        # print()

        # Get subset of DataFrame B for the current ID in A
        subset_data_previousEstate = data_previousEstate[data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'] == id_code]
        # print('############################ PRINTING: Estate Subset by ID')
        # display(subset_data_previousEstate)
        # print()

        # Create a list of all sales dates from DataFrame data_salesdata with the same ID excluding the current date
        dates_from_salesdata = data_salesdata[(data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == id_code) & (data_salesdata['salesInfo_deedIssueDate'] != row_sale_date)]['salesInfo_deedIssueDate'].tolist()
        # Remove dates that are newer than row_sale_date i.e. main date of interest at the moment
        dates_from_salesdata = [date for date in dates_from_salesdata if date <= row_sale_date]


        # print('############################ PRINTING: All dates IN dates_from_salesdata WITH SAME ID')
        # display(dates_from_salesdata)
        # print()

        # create variables to add to dataframe
        Number_of_estates_ads = 0
        Number_of_days_between_ads = 0 #<--------------- between oldest and newest AD
        Total_daysForSale = 0
        NEWEST_Ad_askingPrice_lastAd = 0
        OLDEST_Ad_askingPrice_firstAd = 0
        NEWEST_Ad_daysForSale = 0
        OLDEST_Ad_daysForSale = 0
        NEWEST_Ad_lastSeen_Date = 0
        OLDEST_Ad_lastSeen_Date = 0
        estate_dataframe_index_list_that_belong_to_sale = []

        # Loop over each row in the subset of DataFrame B : data_previousEstate
        # print('-----> for-loop estate subset data')
        for index_B, row_B in subset_data_previousEstate.iterrows():
            row_estate_date = row_B['PreviousEstate_lastSeen']

            # Check if the condition is fulfilled
            
            if (row_estate_date < row_sale_date) and all(row_estate_date > date for date in dates_from_salesdata):
                # print('BINGO')
                Number_of_estates_ads+=1
                Total_daysForSale += row_B['PreviousEstate_daysForSale']

                # create tuple with date (lastSeen) and date and asking price
                estate_dataframe_index_list_that_belong_to_sale.append(index_B)
            
        # Finally filter the Estate subset to only rows wich belong to the Sale row ! 
        # Create a subset based on the specified row indices
        subset_estate_forSale = subset_data_previousEstate.loc[estate_dataframe_index_list_that_belong_to_sale]
        # convert Lastseen column to datetime
        # subset_estate_forSale['PreviousEstate_lastSeen'] = pd.to_datetime(subset_estate_forSale['PreviousEstate_lastSeen']).dt.date
        # print(subset_estate_forSale.dtypes)

        # Find the row with the Newest date
        newest_row = subset_estate_forSale.nlargest(1, 'PreviousEstate_lastSeen')

        # Find the row with the oldest date
        oldest_row = subset_estate_forSale.nsmallest(1, 'PreviousEstate_lastSeen')


        # -------------------------------------
        # CREATE THE  REST OF THE VARIABLES
        # -------------------------------------
        if Number_of_estates_ads > 1:
            # ==============> Number_of_days_between_ads
            # print()
            # print(newest_row['PreviousEstate_lastSeen'])
            # print(oldest_row['PreviousEstate_lastSeen'])

            time_diff = oldest_row['PreviousEstate_lastSeen'] - newest_row['PreviousEstate_lastSeen']
            
            # print('time_diff', time_diff.dt.days.iloc[0])
            
            Number_of_days_between_ads = time_diff.dt.days.iloc[0]

            # ==============> NEWEST_Ad_askingPrice_lastAd
            NEWEST_Ad_askingPrice_lastAd = newest_row['PreviousEstate_salesPrice'].iloc[0]
            # ==============> OLDEST_Ad_askingPrice_firstAd
            OLDEST_Ad_askingPrice_firstAd = oldest_row['PreviousEstate_salesPrice'].iloc[0]
            # ===============> NEWEST_Ad_daysForSale
            NEWEST_Ad_daysForSale = newest_row['PreviousEstate_daysForSale'].iloc[0]
            # ===============> OLDEST_Ad_daysForSale
            OLDEST_Ad_daysForSale = oldest_row['PreviousEstate_daysForSale'].iloc[0]
            # ===============> NEWEST_Ad_lastSeen_Date
            NEWEST_Ad_lastSeen_Date = newest_row['PreviousEstate_lastSeen'].iloc[0]
            # ===============> OLDEST_Ad_lastSeen_Date
            OLDEST_Ad_lastSeen_Date = oldest_row['PreviousEstate_daysForSale'].iloc[0]

        elif Number_of_estates_ads == 1:
            
            # ==============> NEWEST_Ad_askingPrice_lastAd
            NEWEST_Ad_askingPrice_lastAd = newest_row['PreviousEstate_salesPrice'].iloc[0]
            # ===============> NEWEST_Ad_daysForSale
            NEWEST_Ad_daysForSale = newest_row['PreviousEstate_daysForSale'].iloc[0]
            # ===============> NEWEST_Ad_lastSeen_Date
            NEWEST_Ad_lastSeen_Date = newest_row['PreviousEstate_lastSeen'].iloc[0]
        
        # elif Number_of_estates_ads == 0:
        #     print('################################################')
        #     print('----------------- NO ESTATE/ NO AD MATCHES THIS SALE')
        #     print('################################################')

        # print()
        # print('----> RESULT')
        # print('----------------------')
        # print(f'Number_of_estates_ads = {Number_of_estates_ads}')
        # print(f'Number_of_days_between_ads = {Number_of_days_between_ads}')
        # print(f'Total_daysForSale = {Total_daysForSale}')
        # print(f'NEWEST_Ad_askingPrice_lastAd = {NEWEST_Ad_askingPrice_lastAd}')
        # print(f'OLDEST_Ad_askingPrice_firstAd = {OLDEST_Ad_askingPrice_firstAd}')
        # print(f'NEWEST_Ad_daysForSale = {NEWEST_Ad_daysForSale}')
        # print(f'OLDEST_Ad_daysForSale = {OLDEST_Ad_daysForSale}')
        # print(f'NEWEST_Ad_lastSeen_Date = {NEWEST_Ad_lastSeen_Date}')
        # print(f'OLDEST_Ad_lastSeen_Date = {OLDEST_Ad_lastSeen_Date}')
        

        # ==================================
        #  ADD RESULT TO DATAFRAME
        # ==================================
        data_salesdata.at[index_data_salesdata,'PreviousEstate_Number_of_estates_ads'] = Number_of_estates_ads
        data_salesdata.at[index_data_salesdata,'PreviousEstate_Number_of_days_between_ads'] = Number_of_days_between_ads
        data_salesdata.at[index_data_salesdata,'PreviousEstate_Total_daysForSale'] = Total_daysForSale
        data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_askingPrice_lastAd'] = NEWEST_Ad_askingPrice_lastAd
        data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_askingPrice_firstAd'] = OLDEST_Ad_askingPrice_firstAd
        data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_daysForSale'] = NEWEST_Ad_daysForSale
        data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_daysForSale'] = OLDEST_Ad_daysForSale
        data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_lastSeen_Date'] = NEWEST_Ad_lastSeen_Date
        data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_lastSeen_Date'] = OLDEST_Ad_lastSeen_Date

## ----- concurrent futures test version : new VERSION

In [ ]:
def process_row(index_data_salesdata):
    global Sales_index_counter
    global data_salesdata
    global data_previousEstate

    try: 
        with lock:
            id_code = data_salesdata.at[index_data_salesdata,'RowID_MAIN_boliga_ROW_ID_unitID']
            row_sale_date = data_salesdata.at[index_data_salesdata,'salesInfo_deedIssueDate']

            Sales_index_counter += 1

            if Sales_index_counter % 1000 == 0:
                print(f'-----------------> Nr. rows done: {Sales_index_counter} out of 2.623.340')

            # if the ID exists in Estate dataframe then carry ON: 
            if id_code in data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'].values:
                # Get subset of DataFrame B for the current ID in A
                subset_data_previousEstate = data_previousEstate[data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'] == id_code]

                # Create a list of all sales dates from DataFrame data_salesdata with the same ID excluding the current date
                dates_from_salesdata = data_salesdata[(data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == id_code) & (data_salesdata['salesInfo_deedIssueDate'] != row_sale_date)]['salesInfo_deedIssueDate'].tolist()
                # Remove dates that are newer than row_sale_date i.e. main date of interest at the moment
                dates_from_salesdata = [date for date in dates_from_salesdata if date <= row_sale_date]


                # create variables to add to dataframe
                Number_of_estates_ads = 0
                Number_of_days_between_ads = 0 #<--------------- between oldest and newest AD
                Total_daysForSale = 0
                NEWEST_Ad_askingPrice_lastAd = 0
                OLDEST_Ad_askingPrice_firstAd = 0
                NEWEST_Ad_daysForSale = 0
                OLDEST_Ad_daysForSale = 0
                NEWEST_Ad_lastSeen_Date = 0
                OLDEST_Ad_lastSeen_Date = 0
                estate_dataframe_index_list_that_belong_to_sale = []

                # Loop over each row in the subset of DataFrame B : data_previousEstate
                # print('-----> for-loop estate subset data')
                for index_B, row_B in subset_data_previousEstate.iterrows():
                    row_estate_date = row_B['PreviousEstate_lastSeen']

                    # Check if the condition is fulfilled
                    
                    if (row_estate_date < row_sale_date) and all(row_estate_date > date for date in dates_from_salesdata):
                        # print('BINGO')
                        Number_of_estates_ads+=1
                        Total_daysForSale += row_B['PreviousEstate_daysForSale']

                        # create tuple with date (lastSeen) and date and asking price
                        estate_dataframe_index_list_that_belong_to_sale.append(index_B)
                    
                # Finally filter the Estate subset to only rows wich belong to the Sale row ! 
                # Create a subset based on the specified row indices
                subset_estate_forSale = subset_data_previousEstate.loc[estate_dataframe_index_list_that_belong_to_sale]

                # Find the row with the Newest date
                newest_row = subset_estate_forSale.nlargest(1, 'PreviousEstate_lastSeen')

                # Find the row with the oldest date
                oldest_row = subset_estate_forSale.nsmallest(1, 'PreviousEstate_lastSeen')


                # -------------------------------------
                # CREATE THE  REST OF THE VARIABLES
                # -------------------------------------
                if Number_of_estates_ads > 1:

                    time_diff = oldest_row['PreviousEstate_lastSeen'] - newest_row['PreviousEstate_lastSeen']
                    
                    # print('time_diff', time_diff.dt.days.iloc[0])
                    
                    Number_of_days_between_ads = time_diff.dt.days.iloc[0]

                    # ==============> NEWEST_Ad_askingPrice_lastAd
                    NEWEST_Ad_askingPrice_lastAd = newest_row['PreviousEstate_salesPrice'].iloc[0]
                    # ==============> OLDEST_Ad_askingPrice_firstAd
                    OLDEST_Ad_askingPrice_firstAd = oldest_row['PreviousEstate_salesPrice'].iloc[0]
                    # ===============> NEWEST_Ad_daysForSale
                    NEWEST_Ad_daysForSale = newest_row['PreviousEstate_daysForSale'].iloc[0]
                    # ===============> OLDEST_Ad_daysForSale
                    OLDEST_Ad_daysForSale = oldest_row['PreviousEstate_daysForSale'].iloc[0]
                    # ===============> NEWEST_Ad_lastSeen_Date
                    NEWEST_Ad_lastSeen_Date = newest_row['PreviousEstate_lastSeen'].iloc[0]
                    # ===============> OLDEST_Ad_lastSeen_Date
                    OLDEST_Ad_lastSeen_Date = oldest_row['PreviousEstate_daysForSale'].iloc[0]

                elif Number_of_estates_ads == 1:
                    
                    # ==============> NEWEST_Ad_askingPrice_lastAd
                    NEWEST_Ad_askingPrice_lastAd = newest_row['PreviousEstate_salesPrice'].iloc[0]
                    # ===============> NEWEST_Ad_daysForSale
                    NEWEST_Ad_daysForSale = newest_row['PreviousEstate_daysForSale'].iloc[0]
                    # ===============> NEWEST_Ad_lastSeen_Date
                    NEWEST_Ad_lastSeen_Date = newest_row['PreviousEstate_lastSeen'].iloc[0]

                print()
                print('----> RESULT')
                print('----------------------')
                print(f'Number_of_estates_ads = {Number_of_estates_ads}')
                print(f'Number_of_days_between_ads = {Number_of_days_between_ads}')
                print(f'Total_daysForSale = {Total_daysForSale}')
                print(f'NEWEST_Ad_askingPrice_lastAd = {NEWEST_Ad_askingPrice_lastAd}')
                print(f'OLDEST_Ad_askingPrice_firstAd = {OLDEST_Ad_askingPrice_firstAd}')
                print(f'NEWEST_Ad_daysForSale = {NEWEST_Ad_daysForSale}')
                print(f'OLDEST_Ad_daysForSale = {OLDEST_Ad_daysForSale}')
                print(f'NEWEST_Ad_lastSeen_Date = {NEWEST_Ad_lastSeen_Date}')
                print(f'OLDEST_Ad_lastSeen_Date = {OLDEST_Ad_lastSeen_Date}')
                    

                # ==================================
                #  ADD RESULT TO DATAFRAME
                # ==================================
                data_salesdata.at[index_data_salesdata,'PreviousEstate_Number_of_estates_ads'] = Number_of_estates_ads
                data_salesdata.at[index_data_salesdata,'PreviousEstate_Number_of_days_between_ads'] = Number_of_days_between_ads
                data_salesdata.at[index_data_salesdata,'PreviousEstate_Total_daysForSale'] = Total_daysForSale
                data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_askingPrice_lastAd'] = NEWEST_Ad_askingPrice_lastAd
                data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_askingPrice_firstAd'] = OLDEST_Ad_askingPrice_firstAd
                data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_daysForSale'] = NEWEST_Ad_daysForSale
                data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_daysForSale'] = OLDEST_Ad_daysForSale
                data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_lastSeen_Date'] = NEWEST_Ad_lastSeen_Date
                data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_lastSeen_Date'] = OLDEST_Ad_lastSeen_Date
    
    except Exception as e:
        # Catch any exception that occurs within the task
        print('------------------------------ SHIIIIIIIIIIIIIIIIIIIIIIIIIIIITTTTTTTTT ----------------------')
        print(f"Error processing row {index_data_salesdata}: {e}")

In [ ]:
import concurrent.futures
from multiprocessing import Lock

# Define a lock
lock = Lock()

# Create a list with all index numbers of the DataFrame
index_list = list(data_salesdata.index)

# run the concurrency 
with concurrent.futures.ThreadPoolExecutor(max_workers=10) as executor: 
        # run script
        executor.map(process_row,index_list)

# for row in index_list:
#     process_row(row)

## ----- concurrent futures test version : OLD VERSION

In [ ]:
import concurrent.futures

def process_row(index_data_salesdata, row_data_salesdata, data_salesdata, data_previousEstate):
    global Sales_index_counter
    try: 
        id_code = row_data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']
        row_sale_date = row_data_salesdata['salesInfo_deedIssueDate']

        Sales_index_counter += 1

        if Sales_index_counter % 1000 == 0:
            print(f'-----------------> Nr. rows done: {Sales_index_counter} out of 2.623.340')

        # if the ID exists in Estate dataframe then carry ON: 
        if row_data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] in data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'].values:
            # Get subset of DataFrame B for the current ID in A
            subset_data_previousEstate = data_previousEstate[data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID'] == id_code]

            # Create a list of all sales dates from DataFrame data_salesdata with the same ID excluding the current date
            dates_from_salesdata = data_salesdata[(data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID'] == id_code) & (data_salesdata['salesInfo_deedIssueDate'] != row_sale_date)]['salesInfo_deedIssueDate'].tolist()
            # Remove dates that are newer than row_sale_date i.e. main date of interest at the moment
            dates_from_salesdata = [date for date in dates_from_salesdata if date <= row_sale_date]


            # create variables to add to dataframe
            Number_of_estates_ads = 0
            Number_of_days_between_ads = 0 #<--------------- between oldest and newest AD
            Total_daysForSale = 0
            NEWEST_Ad_askingPrice_lastAd = 0
            OLDEST_Ad_askingPrice_firstAd = 0
            NEWEST_Ad_daysForSale = 0
            OLDEST_Ad_daysForSale = 0
            NEWEST_Ad_lastSeen_Date = 0
            OLDEST_Ad_lastSeen_Date = 0
            estate_dataframe_index_list_that_belong_to_sale = []

            # Loop over each row in the subset of DataFrame B : data_previousEstate
            # print('-----> for-loop estate subset data')
            for index_B, row_B in subset_data_previousEstate.iterrows():
                row_estate_date = row_B['PreviousEstate_lastSeen']

                # Check if the condition is fulfilled
                
                if (row_estate_date < row_sale_date) and all(row_estate_date > date for date in dates_from_salesdata):
                    # print('BINGO')
                    Number_of_estates_ads+=1
                    Total_daysForSale += row_B['PreviousEstate_daysForSale']

                    # create tuple with date (lastSeen) and date and asking price
                    estate_dataframe_index_list_that_belong_to_sale.append(index_B)
                
            # Finally filter the Estate subset to only rows wich belong to the Sale row ! 
            # Create a subset based on the specified row indices
            subset_estate_forSale = subset_data_previousEstate.loc[estate_dataframe_index_list_that_belong_to_sale]

            # Find the row with the Newest date
            newest_row = subset_estate_forSale.nlargest(1, 'PreviousEstate_lastSeen')

            # Find the row with the oldest date
            oldest_row = subset_estate_forSale.nsmallest(1, 'PreviousEstate_lastSeen')


            # -------------------------------------
            # CREATE THE  REST OF THE VARIABLES
            # -------------------------------------
            if Number_of_estates_ads > 1:

                time_diff = oldest_row['PreviousEstate_lastSeen'] - newest_row['PreviousEstate_lastSeen']
                
                # print('time_diff', time_diff.dt.days.iloc[0])
                
                Number_of_days_between_ads = time_diff.dt.days.iloc[0]

                # ==============> NEWEST_Ad_askingPrice_lastAd
                NEWEST_Ad_askingPrice_lastAd = newest_row['PreviousEstate_salesPrice'].iloc[0]
                # ==============> OLDEST_Ad_askingPrice_firstAd
                OLDEST_Ad_askingPrice_firstAd = oldest_row['PreviousEstate_salesPrice'].iloc[0]
                # ===============> NEWEST_Ad_daysForSale
                NEWEST_Ad_daysForSale = newest_row['PreviousEstate_daysForSale'].iloc[0]
                # ===============> OLDEST_Ad_daysForSale
                OLDEST_Ad_daysForSale = oldest_row['PreviousEstate_daysForSale'].iloc[0]
                # ===============> NEWEST_Ad_lastSeen_Date
                NEWEST_Ad_lastSeen_Date = newest_row['PreviousEstate_lastSeen'].iloc[0]
                # ===============> OLDEST_Ad_lastSeen_Date
                OLDEST_Ad_lastSeen_Date = oldest_row['PreviousEstate_daysForSale'].iloc[0]

            elif Number_of_estates_ads == 1:
                
                # ==============> NEWEST_Ad_askingPrice_lastAd
                NEWEST_Ad_askingPrice_lastAd = newest_row['PreviousEstate_salesPrice'].iloc[0]
                # ===============> NEWEST_Ad_daysForSale
                NEWEST_Ad_daysForSale = newest_row['PreviousEstate_daysForSale'].iloc[0]
                # ===============> NEWEST_Ad_lastSeen_Date
                NEWEST_Ad_lastSeen_Date = newest_row['PreviousEstate_lastSeen'].iloc[0]
                

            # ==================================
            #  ADD RESULT TO DATAFRAME
            # ==================================
            data_salesdata.at[index_data_salesdata,'PreviousEstate_Number_of_estates_ads'] = Number_of_estates_ads
            data_salesdata.at[index_data_salesdata,'PreviousEstate_Number_of_days_between_ads'] = Number_of_days_between_ads
            data_salesdata.at[index_data_salesdata,'PreviousEstate_Total_daysForSale'] = Total_daysForSale
            data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_askingPrice_lastAd'] = NEWEST_Ad_askingPrice_lastAd
            data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_askingPrice_firstAd'] = OLDEST_Ad_askingPrice_firstAd
            data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_daysForSale'] = NEWEST_Ad_daysForSale
            data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_daysForSale'] = OLDEST_Ad_daysForSale
            data_salesdata.at[index_data_salesdata,'PreviousEstate_NEWEST_Ad_lastSeen_Date'] = NEWEST_Ad_lastSeen_Date
            data_salesdata.at[index_data_salesdata,'PreviousEstate_OLDEST_Ad_lastSeen_Date'] = OLDEST_Ad_lastSeen_Date
    
    except Exception as e:
        # Catch any exception that occurs within the task
        print(f"Error processing row {index_data_salesdata}: {e}")


Sales_index_counter = 0 

# Using ThreadPoolExecutor for concurrent processing
with concurrent.futures.ThreadPoolExecutor() as executor:
    futures = []
    
    for index_data_salesdata, row_data_salesdata in data_salesdata.iterrows():
        futures.append(executor.submit(process_row, index_data_salesdata, row_data_salesdata, data_salesdata, data_previousEstate))
        

 # Wait for all futures to complete with a timeout
concurrent.futures.wait(futures, timeout=120)  # Adjust the timeout as needed (e.g., 3600 seconds or 1 hour)

In [ ]:
10,2 210000

In [ ]:

# Generating example data
oldest_row = pd.DataFrame({'PreviousEstate_lastSeen': [pd.to_datetime('2022-09-14')]})
newest_row = pd.DataFrame({'PreviousEstate_lastSeen': [pd.to_datetime('2022-11-08')]})

# Check for NaT before subtraction
if pd.notna(oldest_row['PreviousEstate_lastSeen'].iloc[0]) and pd.notna(newest_row['PreviousEstate_lastSeen'].iloc[0]):
    # Calculate time difference
    time_diff = newest_row['PreviousEstate_lastSeen'] - oldest_row['PreviousEstate_lastSeen']

    # Extract number of days
    Number_of_days_between_ads = time_diff.dt.days.iloc[0]
    
    # Print results
    print(f'oldest_row: {oldest_row["PreviousEstate_lastSeen"].iloc[0]}')
    print(f'newest_row: {newest_row["PreviousEstate_lastSeen"].iloc[0]}')
    print(f'Number of days between the two dates: {Number_of_days_between_ads}')
else:
    print('One or both of the dates are NaT.')

In [ ]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']

In [ ]:
data_salesdata[data_salesdata['RowID_MAIN_boliga_ROW_ID_unitID']== '9133416f-191b-496e-88bb-62b3a46a370a']['salesInfo_recalculationDate'].tolist()

In [ ]:
data_previousEstate[data_previousEstate['RowID_MAIN_boliga_ROW_ID_unitID']=='9133416f-191b-496e-88bb-62b3a46a370a']

In [ ]:

# Sample DataFrames
data_A = {'ID': [1, 2, 1, 3, 2],
          'SalePrice': [100000, 150000, 120000, 200000, 180000],
          'Date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01']}
df_A = pd.DataFrame(data_A)
display(df_A)

data_B = {'ID': [1, 2, 1, 3, 2],
          'Date': ['2022-01-05', '2022-02-15', '2022-03-10', '2022-04-20', '2022-05-05'],
          'DaysOnMarket': [5, 10, 7, 15, 8]}
df_B = pd.DataFrame(data_B)
display(df_B)

In [ ]:
# Loop over each row in DataFrame A
for index_A, row_A in df_A.iterrows():
    id_code = row_A['ID']
    sale_date_A = pd.to_datetime(row_A['Date'])

    # Get subset of DataFrame B for the current ID in A
    subset_B = df_B[df_B['ID'] == id_code]

    total_days_on_market = 0

    # Create a list of dates from DataFrame A excluding the current date
    dates_from_A = df_A[(df_A['ID'] == id_code) & (df_A['Date'] != row_A['Date'])]['Date'].tolist()

    # Loop over each row in the subset of DataFrame B
    for index_B, row_B in subset_B.iterrows():
        sale_date_B = pd.to_datetime(row_B['Date'])

        # Check if the condition is fulfilled
        if (sale_date_B < sale_date_A) and all(sale_date_B > pd.to_datetime(date) for date in dates_from_A):
            total_days_on_market += row_B['DaysOnMarket']

    # Update the 'total_DaysOnMarket' column in DataFrame A
    df_A.at[index_A, 'total_DaysOnMarket'] = total_days_on_market

# Display the updated DataFrame A
print(df_A)

# ----- Create the MERGING by year 
## SO will will merge sales data with the last years evalutaion !  so I will create salesInfo_sale_year_before_merge

In [ ]:
data_salesInfo['salesInfo_year_of_sale']-1

In [ ]:
# Extract the year and add it to a new column 'Year'
data_salesInfo['salesInfo_sale_year_before_merge'] = data_salesInfo['salesInfo_year_of_sale']-1 #minus 1 year

# ---- FILTER SALES DATA: take Only Sales between years 2006-2023, drop the rest 
## (no - i will do this once I have merged everything)

In [ ]:
# data_salesInfo = data_salesInfo[data_salesInfo['salesInfo_year_of_sale']>=2006]
# data_salesInfo = data_salesInfo.reset_index(drop=True)
# data_salesInfo.info()

# ---- Create new columns in Salesinfos

In [ ]:
# data_salesInfo['evaluationInfo_evaluationYear'] = None
# data_salesInfo['evaluationInfo_lastChange'] = None
# data_salesInfo['evaluationInfo_propertyValue'] = None
# data_salesInfo['evaluationInfo_landValue'] = None
# data_salesInfo['evaluationInfo_deductionSum'] = None
# data_salesInfo['evaluationInfo_usage'] = None
# data_salesInfo['evaluationInfo_residentialUnits'] = None
# data_salesInfo['evaluationInfo_propertyValueArea'] = None
# data_salesInfo['evaluationInfo_rebuildYear'] = None
# data_salesInfo['evaluationInfo_areaSize'] = None

In [ ]:
data_salesInfo.info(verbose=True, show_counts=True)

# ------ RUN THE PROGRAM  AS WHOLE!

In [ ]:
# Your path to the evaluation CSV file
path_evaluation = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Ready\Boliga_propertySales_evaluationInfo_Ready.csv'

# Initialize an empty DataFrame to store the merged data
merged_data_list = []

# Read the evaluation data in chunks
evaluation_WHOLE = pd.read_csv(path_evaluation, low_memory=False )#, chunksize=chunk_size)

chunk_counter = 0

# Convert the 'lastChange' column to datetime and sort the DataFrame
evaluation_WHOLE['lastChange'] = pd.to_datetime(evaluation_WHOLE['lastChange'], format="%Y-%m-%dT%H:%M:%S").dt.date
evaluation_WHOLE = evaluation_WHOLE.sort_values(by='lastChange', ascending=False)

# Merge the two DataFrames based on the common column 'RowID_MAIN_boliga_ROW_ID_unitID'
merged_chunk = pd.merge(data_salesInfo, evaluation_WHOLE, left_on=['RowID_MAIN_boliga_ROW_ID_unitID','salesInfo_sale_year_before_merge'], right_on=['RowID_MAIN_boliga_ROW_ID_unitID', 'evaluationYear'], how='left')

del evaluation_WHOLE

In [ ]:
merged_chunk.info()

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
merged_chunk[merged_chunk.duplicated(subset='unique_sales_ID', keep=False)]

In [ ]:
# Sort DataFrame by 'lastChange' in descending order
merged_chunk = merged_chunk.sort_values(by=['unique_sales_ID', 'lastChange'], ascending=[True, False])

# Keep only the first occurrence (latest date) for each 'unique_sales_ID'
merged_chunk_latest = merged_chunk.drop_duplicates(subset='unique_sales_ID', keep='first')
merged_chunk_latest.info()

## _________________ RENAME COLUMS _____________________

In [ ]:
change_column_names = {
    'evaluationYear': 'EvaluationInfo_evaluationYear',
    'lastChange': 'EvaluationInfo_lastChange', 
    'propertyValue': 'EvaluationInfo_propertyValue',
    'landValue': 'EvaluationInfo_landValue',
    'deductionSum': 'EvaluationInfo_deductionSum',
    'usage': 'EvaluationInfo_usage', 
    'residentialUnits': 'EvaluationInfo_residentialUnits',
    'propertyValueArea': 'EvaluationInfo_propertyValueArea',
    'rebuildYear': 'EvaluationInfo_rebuildYear',
    'areaSize': 'EvaluationInfo_areaSize',
}

merged_chunk_latest = merged_chunk_latest.rename(columns=change_column_names)
merged_chunk_latest.info()

In [ ]:
merged_chunk_latest.info(verbose=True, show_counts=True)

# ______________________________ SAVE RESULT _______________________________________

In [ ]:
sub_columns = [
    'RowID_MAIN_boliga_ROW_ID_unitID',
    'salesInfo_isSalesValid',
    'salesInfo_handoverCode',
    'salesInfo_handoverName',
    'salesInfo_deedIssueDate',
    'salesInfo_price',
    'salesInfo_recalculationDate',
    'salesInfo_rebuildYear',
    'unique_sales_ID',
    'salesInfo_year_of_sale',
    'EvaluationInfo_evaluationYear',
    'EvaluationInfo_lastChange',
    'EvaluationInfo_propertyValue',
    'EvaluationInfo_landValue',
    'EvaluationInfo_deductionSum',
    'EvaluationInfo_usage',
    'EvaluationInfo_residentialUnits',
    'EvaluationInfo_propertyValueArea',
    'EvaluationInfo_rebuildYear',
    'EvaluationInfo_areaSize',
]

path=r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_merge\step_1_mergin_Sales_transactions_with_evaluation_data\Boliga_salesData_SalesTransactions_with_evaluation_2623340rows_20columns.csv'

merged_chunk_latest[sub_columns].to_csv(path, encoding='utf-8', index=False)

# ------ RUN THE PROGRAM  CHUNKS!

In [ ]:
# Your path to the evaluation CSV file
path_evaluation = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Ready\Boliga_propertySales_evaluationInfo_Ready.csv'

# Define chunk size based on your available memory for DataFrame B
chunk_size = 1000000

# Initialize an empty DataFrame to store the merged data
merged_data_list = []

# Read the evaluation data in chunks
evaluation_chunks = pd.read_csv(path_evaluation, chunksize=chunk_size)

chunk_counter = 0
# Loop through evaluation chunks
for evaluation_chunk in evaluation_chunks:
    chunk_counter+=1
    print(f'-----> chunk nr.{chunk_counter}')
    print(f'chunk lenght: {len(evaluation_chunk)}')
    # Convert the 'lastChange' column to datetime and sort the DataFrame
    evaluation_chunk['lastChange'] = pd.to_datetime(evaluation_chunk['lastChange'], format="%Y-%m-%dT%H:%M:%S").dt.date
    evaluation_chunk = evaluation_chunk.sort_values(by='lastChange', ascending=False)

    # Merge the two DataFrames based on the common column 'RowID_MAIN_boliga_ROW_ID_unitID'
    merged_chunk = pd.merge(data_salesInfo, evaluation_chunk, left_on=['RowID_MAIN_boliga_ROW_ID_unitID'], right_on=['RowID_MAIN_boliga_ROW_ID_unitID'], how='left')
    print(f'lenght of merged: {len(merged_chunk)}')

    

    # Filter rows where sales_date is greater than evaluation_date
    # condition = merged_chunk['salesInfo_deedIssueDate'] > merged_chunk['lastChange']
    # merged_chunk = merged_chunk[condition]

    # display(merged_chunk.info())

    # # Append the filtered chunk to the merged data
    # merged_data = pd.concat([merged_data, merged_chunk])
    merged_data_list.append(merged_chunk)

In [ ]:
# --- concatenate the list of results 
result_df = pd.concat(merged_data_list, ignore_index=True)
del merged_data_list

In [ ]:
result_df.info(verbose=True, show_counts=True)

In [ ]:
# Filter rows where sales_date is greater than evaluation_date
condition = result_df['salesInfo_deedIssueDate'] >= result_df['lastChange']
result_df = result_df[condition]

In [ ]:
len(result_df)

In [ ]:
a = []

a.extend([1,2])
a

#### ----- get Unique rows that dont have missing evaluation

In [ ]:
# Find duplicated IDs with empty propertyValue and landValue
duplicated_ids_empty_validSale = result_df[result_df.duplicated(subset='RowID_MAIN_boliga_ROW_ID_unitID', keep=False) & result_df['propertyValue'].isna() & result_df['landValue'].isna()]['RowID_MAIN_boliga_ROW_ID_unitID'].unique()
duplicated_ids_empty_validSale

In [ ]:

# Remove rows with duplicated IDs and empty validSale
df_result_clean = result_df[~((result_df['unique_sales_ID'].isin(duplicated_ids_empty_validSale)) & (result_df['propertyValue'].isna()) & (result_df['landValue'].isna()) )]

df_result_clean.info()

In [ ]:
# ----Now get the unique

In [ ]:
df_result_clean[df_result_clean['propertyValue'].isna()]

In [ ]:
df_result_clean_simple = result_df.drop_duplicates(subset=['unique_sales_ID'], keep='first')
df_result_clean_simple.info()

In [ ]:
df_result_clean_simple[df_result_clean_simple['unique_sales_ID']==2]

In [ ]:
print(len(df_result_clean_simple[df_result_clean_simple['propertyValue'].isna()]))

In [ ]:
df_result_clean_simple[df_result_clean_simple['propertyValue'].isna()]

In [ ]:
result_df[result_df['unique_sales_ID']==1]

In [ ]:
result_df[result_df.duplicated(subset=['unique_sales_ID'],keep=False)]

In [ ]:
len(data_salesInfo)

In [ ]:
len(merged_data_nodobble)

In [ ]:
merged_data_nodobble.info()

In [ ]:
merged_data_nodobble

In [ ]:
merged_data.info()

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

# Example DataFrame A
data_a = {
    'ID': [1, 2, 3, 1, 4],
    'Date_A': [datetime(2022, 1, 1), datetime(2022, 2, 1), datetime(2022, 3, 1), datetime(2022, 4, 1), datetime(2022, 5, 1)],
    'Value_A': [10, 20, 30, 40, 50]
}

df_a = pd.DataFrame(data_a)

# Example DataFrame B
data_b = {
    'ID': [1, 2, 3, 1, 4] * 4,  # Repeated IDs
    'Date_B': [datetime(2021, 12, 1), datetime(2022, 1, 1), datetime(2022, 2, 1), datetime(2022, 3, 1), datetime(2022, 4, 1)] * 4,  # Repeated Dates
    'Value_B': np.arange(1, 21)
}

df_b = pd.DataFrame(data_b)

# Convert Date columns to date format
df_a['Date_A'] = df_a['Date_A'].dt.date
df_b['Date_B'] = df_b['Date_B'].dt.date

# Filter DataFrame B based on the condition
filtered_df_b = df_b[df_b['Date_B'] > df_a['Date_A']]

# Merge DataFrames based on ID
merged_df = pd.merge(df_a, filtered_df_b, how='left', on='ID')

# Display the result
print("DataFrame A:")
print(df_a)
print("\nDataFrame B:")
print(df_b)
print("\nMerged DataFrame:")
print(merged_df)

# --- OLD SHIT

In [ ]:
path_evaluation = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Ready\Boliga_propertySales_evaluationInfo_Ready.csv'

# Define chunk size based on your available memory for DataFrame B
chunk_size = 10000

# Read DataFrame evaluation as chunks
evaluation_chunks = pd.read_csv(path_evaluation, chunksize=chunk_size)

row_counter = 0
for index, row in data_salesInfo.iterrows():
    row_counter+=1
    print(f'----- row nr. {row_counter} out of 2.623.800')

    # -- get values 
    sales_ID = row['RowID_MAIN_boliga_ROW_ID_unitID']
    sales_date = row['salesInfo_deedIssueDate']

    # trigger to go next row if conditions are met
    new_sales_line = False


    for evaluation_chunk in evaluation_chunks:
        
        # convert the date to day, month and year 
        evaluation_chunk['lastChange'] = pd.to_datetime(evaluation_chunk['lastChange'], format="%Y-%m-%dT%H:%M:%S").dt.date

        # short chunk by "lastChange"
        evaluation_chunk = evaluation_chunk.sort_values(by='lastChange', ascending=False)


        for index_evaluation, row_evaluation in evaluation_chunk.iterrows():
            # -- get values 
            evaluation_ID = row_evaluation['RowID_MAIN_boliga_ROW_ID_unitID']
            evaluation_date = row_evaluation['lastChange']

            if sales_ID == evaluation_ID:
                # print(type(sales_date))
                # print(type(evaluation_date))
                if sales_date>evaluation_date:
                    data_salesInfo.at[index,'evaluationInfo_evaluationYear'] = row_evaluation['evaluationYear']
                    data_salesInfo.at[index,'evaluationInfo_lastChange'] = row_evaluation['lastChange']
                    data_salesInfo.at[index,'evaluationInfo_propertyValue'] = row_evaluation['propertyValue']
                    data_salesInfo.at[index,'evaluationInfo_landValue'] = row_evaluation['landValue']
                    data_salesInfo.at[index,'evaluationInfo_deductionSum'] = row_evaluation['deductionSum']
                    data_salesInfo.at[index,'evaluationInfo_usage'] = row_evaluation['usage']
                    data_salesInfo.at[index,'evaluationInfo_residentialUnits'] = row_evaluation['residentialUnits']
                    data_salesInfo.at[index,'evaluationInfo_propertyValueArea'] = row_evaluation['propertyValueArea']
                    data_salesInfo.at[index,'evaluationInfo_rebuildYear'] = row_evaluation['rebuildYear']
                    data_salesInfo.at[index,'evaluationInfo_areaSize'] = row_evaluation['areaSize']
                    new_sales_line = True
                    break
        
        # if we got the values the move to the next sales row!
        if new_sales_line:
            break

In [ ]:
data_salesInfo['RowID_MAIN_boliga_ROW_ID_unitID']

In [ ]:
data_salesInfo['salesInfo_deedIssueDate'] = pd.to_datetime(data_salesInfo['salesInfo_deedIssueDate'], format="%Y-%m-%dT%H:%M:%S").dt.date
data_salesInfo['salesInfo_deedIssueDate'][0]

In [ ]:
path_evaluation = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Ready\Boliga_propertySales_evaluationInfo_Ready.csv'

# Define chunk size based on your available memory for DataFrame B
chunk_size = 10000

# Define the columns to be used for merging
merge_columns = ["RowID_MAIN_boliga_ROW_ID_unitID"]

# Read DataFrame B in chunks
date_evaluation_chunks = pd.read_csv(path_evaluation, chunksize=chunk_size)

# Iterate through DataFrame B chunks
for date_evaluation in date_evaluation_chunks:
    
    date_evaluation["lastChange"] = pd.to_datetime(date_evaluation["lastChange"], format="%Y-%m-%dT%H:%M:%S").dt.date

    # Merge based on ID column
    merged_chunk = pd.merge(data_salesInfo, date_evaluation, on=merge_columns, how="left", suffixes=('_a', '_b'))

    # Filter based on the date condition
    filtered_chunk = merged_chunk[(merged_chunk["salesInfo_deedIssueDate"] >= merged_chunk["lastChange"]) | merged_chunk["lastChange"].isnull()]

    # Drop unnecessary columns from DataFrame A
    drop_columns = [col for col in filtered_chunk.columns if col.endswith('_b')]
    filtered_chunk = filtered_chunk.drop(columns=drop_columns)

    # Update DataFrame A with the new values
    data_salesInfo.update(filtered_chunk)

In [ ]:
filtered_chunk.info()

In [ ]:
path_evaluation = r'D:\Thesis\Properties\Denmark\RE_due_scraping_properties\Boliga_dk\Creating_main_dataset_for_sales_data\Data_split\12_evalutationInfos\Ready\Boliga_propertySales_evaluationInfo_Ready.csv'
# Specify the number of rows you want to read (in this case, 100)
num_rows_to_read = 100

# Replace "your_file.csv" with the actual file path of your CSV file
date_evaluation = pd.read_csv(path_evaluation, nrows=num_rows_to_read)

display(date_evaluation.info())


display(date_evaluation[''])

In [ ]:
date_evaluation["lastChange"] = pd.to_datetime(date_evaluation["lastChange"], format="%Y-%m-%dT%H:%M:%S").dt.date
date_evaluation["lastChange"][0]

In [ ]:
if date_evaluation["lastChange"][0] > data_salesInfo['salesInfo_deedIssueDate'][0]:
    print("bingo")